unpackaged/main/default/flows/Account_Team_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>Add_Team_Member</name>
        <choiceText>Add Team Member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Team Member</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Team_Member</name>
        <choiceText>Change Team Member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Team Member</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_Team_Member</name>
        <choiceText>Remove Team Member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove Team Member</stringValue>
        </value>
    </choices>
    <constants>
        <name>EAMValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enterprise Account Manager</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Action_Selected</name>
        <label>Action Selected</label>
        <locationX>1051</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Nothing_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Remove_Team_Member</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Team_Member_Screen</targetReference>
            </connector>
            <label>Remove</label>
        </rules>
        <rules>
            <name>Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_Team_Member</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Team_Member_Screen</targetReference>
            </connector>
            <label>Change</label>
        </rules>
        <rules>
            <name>Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Team_Member</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Team_Member_Screen</targetReference>
            </connector>
            <label>Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Adding_EAM</name>
        <label>Adding EAM?</label>
        <locationX>1392</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Look_for_Duplicate_Team_Member_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a EAM</defaultConnectorLabel>
        <rules>
            <name>New_EAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Role_New_Team_Member</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EAMValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_a_EAM</targetReference>
            </connector>
            <label>New EAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>EAM_Query_Result</name>
        <label>EAM Query Result</label>
        <locationX>1238</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Look_for_Duplicate_Team_Member_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No EAM - Continue</defaultConnectorLabel>
        <rules>
            <name>Already_has_an_EAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_EAM.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Can_not_add_another_EAM</targetReference>
            </connector>
            <label>Already has an EAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Duplicate_Change</name>
        <label>Found Duplicate - Change</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Change_Team_Member_Record_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicate - Change</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Found_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duplicate_Record_Change_Team_Member.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Found_Change_Screen</targetReference>
            </connector>
            <label>Duplicate Found - Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_Child_Account</name>
        <label>Is a Child Account?</label>
        <locationX>550</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Account_Team_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, this is NOT a Child Account</defaultConnectorLabel>
        <rules>
            <name>Yes_This_Is_a_Child_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Child_Accounts_can_t_have_Account_Teams</targetReference>
            </connector>
            <label>Yes, this is a Child Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_Duplicate_New</name>
        <label>Is There a Duplicate - New</label>
        <locationX>1392</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Create_New_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicate - New</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Found_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duplicate_Record_New_Team_Member.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Found_New_Screen</targetReference>
            </connector>
            <label>Duplicate Found - New</label>
        </rules>
    </decisions>
    <description>June 2023 - CSAM -&gt; EAM name change</description>
    <dynamicChoiceSets>
        <name>Select_Team_Member_To_Change_Or_Remove</name>
        <dataType>String</dataType>
        <displayField>Display_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>Account_Team__c</object>
        <outputAssignments>
            <assignToReference>Chosen_Team_Member_Display_Name</assignToReference>
            <field>Display_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Chosen_Team_Member_User_Id</assignToReference>
            <field>Team_Member__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Chosen_Team_Member_Role</assignToReference>
            <field>Team_Role__c</field>
        </outputAssignments>
        <sortField>Team_Member__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TeamRoles</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Team_Role__c</picklistField>
        <picklistObject>Account_Team__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Account Team Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Team Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Team_Member</name>
        <label>Create_New_Team_Member</label>
        <locationX>1524</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>New_Team_Member_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Member__c</field>
            <value>
                <elementReference>Add_Team_Member_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Role__c</field>
            <value>
                <elementReference>Role_New_Team_Member</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_Team_Member_Delete</name>
        <label>Remove Team Member</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Team_Member_to_Remove</elementReference>
            </value>
        </filters>
        <object>Account_Team__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Already_a_EAM</name>
        <label>Already an EAM?</label>
        <locationX>1238</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EAM_Query_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EAMValue</elementReference>
            </value>
        </filters>
        <object>Account_Team__c</object>
        <outputReference>Existing_EAM</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Display_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_for_Duplicate_Team_Member_Change</name>
        <label>Look for Duplicate Team Member - Change</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Duplicate_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Change_Team_Member_Lookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Chosen_Team_Member_Role</elementReference>
            </value>
        </filters>
        <object>Account_Team__c</object>
        <outputReference>Duplicate_Record_Change_Team_Member</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_for_Duplicate_Team_Member_New</name>
        <label>Look for Duplicate Team Member - New</label>
        <locationX>1392</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_a_Duplicate_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Add_Team_Member_Lookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Role_New_Team_Member</elementReference>
            </value>
        </filters>
        <object>Account_Team__c</object>
        <outputReference>Duplicate_Record_New_Team_Member</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Change_Team_Member_Record_Update</name>
        <label>Change Team Member Record Update</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Team_Member_Changed_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Team_Member_to_Change</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Team_Member__c</field>
            <value>
                <elementReference>Change_Team_Member_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Team__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Account_Team_Change</name>
        <label>Account Team Change</label>
        <locationX>1051</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action_Selected</targetReference>
        </connector>
        <fields>
            <name>Actions_Defined</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Change Team Member&lt;/strong&gt; - Select this if you want to change the Role or Person. E.g. If the EAM for this Account is &quot;Isaac&quot;, and it needs to be &quot;James&quot;, select this option.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Add a Team Member&lt;/strong&gt; - Adding a new person to a role or adding an existing member into an additional role&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Remove Team Member&lt;/strong&gt; - Removing a team member. E.g. if you need to remove an EAM from an Account that no longer needs an EAM.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(176, 13, 13);&quot;&gt;Process for changing which EAM is on the Account&lt;/strong&gt;: use &quot;Change Team Member&quot; and change the person assigned. DO NOT delete the EAM, then add a new EAM! Record Reassignments will be done differently given these two scenarios.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Action</name>
            <choiceReferences>Change_Team_Member</choiceReferences>
            <choiceReferences>Add_Team_Member</choiceReferences>
            <choiceReferences>Remove_Team_Member</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Team_Member_Screen</name>
        <label>Add Team Member</label>
        <locationX>1392</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Adding_EAM</targetReference>
        </connector>
        <fields>
            <name>Add_Team_Member_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Team Member to Add</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account_Team__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Team_Member__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Role_New_Team_Member</name>
            <choiceReferences>TeamRoles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Can_not_add_another_EAM</name>
        <label>Can not add another EAM</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Existing_EAM_Details</name>
            <fieldText>&lt;p&gt;This Account already has an EAM, and can not have more than one.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The current EAM is:&lt;/p&gt;&lt;p&gt;{!Existing_EAM.Display_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you want to change the EAM assigned to this Account, please go back and select &quot;Change Team Member&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Change_Team_Member_Screen</name>
        <label>Change Team Member</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Team_Member_Select_New_Team_Member</targetReference>
        </connector>
        <fields>
            <name>Select_Team_Member_to_Change</name>
            <choiceReferences>Select_Team_Member_To_Change_Or_Remove</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Team Member to Change</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Change_Team_Member_Select_New_Team_Member</name>
        <label>Change Team Member - Select New Team Member</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Look_for_Duplicate_Team_Member_Change</targetReference>
        </connector>
        <fields>
            <name>Team_Member_Change_Details</name>
            <fieldText>&lt;p&gt;You have chosen to &lt;b style=&quot;color: rgb(192, 180, 21);&quot;&gt;Change&lt;/b&gt; &lt;b&gt;{!Select_Team_Member_to_Change}&lt;/b&gt; to someone else.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Change_Team_Member_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Team_Member__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Change Team Member to</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account_Team__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Change_Team_Member_Select_New_Team_Member_0</name>
        <label>Remove Team Member - Select New Team Member</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Remove_Team_Member_Delete</targetReference>
        </connector>
        <fields>
            <name>Remove_Team_Member_Details</name>
            <fieldText>&lt;p&gt;&lt;b&gt;﻿&lt;/b&gt;You have chosen to &lt;b style=&quot;color: rgb(240, 34, 34);&quot;&gt;Remove&lt;/b&gt; &lt;b&gt;{!Select_Team_Member_to_Remove}&lt;/b&gt; on this Account.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;NOTE&lt;/b&gt;: If you are removing this Team Member so that you can add a different Team Member in the same role, DO NOT PROCEED! Go back to &quot;Change Team Member&quot; so that we can transfer records correctly.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Child_Accounts_can_t_have_Account_Teams</name>
        <label>Child Accounts can&apos;t have Account Teams</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Child_Account</name>
            <fieldText>&lt;p&gt;You can not add an Account Team Member to a Child Account. Please go to the Parent Account to make any changes to the Account Team&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Found_Change_Screen</name>
        <label>Duplicate Found - Change</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Duplicate_Found_Change_Description</name>
            <fieldText>&lt;p&gt;There is already an Account Team Member record for {!Change_Team_Member_Lookup.recordName} in the {!Chosen_Team_Member_Role} role.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No changes made.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Found_New_Screen</name>
        <label>Duplicate Found - New</label>
        <locationX>1260</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Duplicate_Found_New_Description</name>
            <fieldText>&lt;p&gt;There is already an Account Team Member record for {!Add_Team_Member_Lookup.recordName} in the {!Role_New_Team_Member} role.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No changes made.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Team_Member_Added</name>
        <label>New Team Member Added</label>
        <locationX>1524</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>New_Team_Member_Added_Details</name>
            <fieldText>&lt;p&gt;{!Add_Team_Member_Lookup.recordName} has been added to the Account Team as {!Role_New_Team_Member}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nothing_Selected</name>
        <label>Nothing Selected</label>
        <locationX>1788</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Nothing_Selected_Text</name>
            <fieldText>&lt;p&gt;How did you get here? You should only see this if you didn&apos;t select an action on the previous page, which shouldn&apos;t be allowed because I made it required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remove_Team_Member_Screen</name>
        <label>Remove Team Member</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Team_Member_Select_New_Team_Member_0</targetReference>
        </connector>
        <fields>
            <name>Select_Team_Member_to_Remove</name>
            <choiceReferences>Select_Team_Member_To_Change_Or_Remove</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Team Member to Remove</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Team_Member_Changed_Success</name>
        <label>Team Member Changed</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Team_Member_Changed_Details</name>
            <fieldText>&lt;p&gt;Team Member change complete&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>424</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_a_Child_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Chosen_Team_Member_Display_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Chosen_Team_Member_Role</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Chosen_Team_Member_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Chosen_Team_Member_Record_to_Change</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Team__c</objectType>
    </variables>
    <variables>
        <name>Duplicate_Record_Change_Team_Member</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Team__c</objectType>
    </variables>
    <variables>
        <name>Duplicate_Record_New_Team_Member</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Team__c</objectType>
    </variables>
    <variables>
        <description>There&apos;s already an EAM on this Account</description>
        <name>Existing_EAM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Team__c</objectType>
    </variables>
    <variables>
        <description>Account ID pulled from Account being viewed</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
