unpackaged/main/default/flows/Account_Processes_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>D_B_Out_of_Business</name>
        <label>D&amp;B Out of Business</label>
        <locationX>182</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>myRule_15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Out_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DNBConnect__D_B_Connect_Company_Profile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DNBConnect__D_B_Connect_Company_Profile__r.dunsCntrStat_detailOpeRtngStatus_Descr__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out of Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Out_Of_Business</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1</name>
        <label>Owner Changed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_10</name>
        <label>Copy Shipping Address</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>myRule_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True3</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShippingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Shipping_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Shipping_City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Shipping_State_or_Province__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Shipping_Zip_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Shipping_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13</name>
        <label>D&amp;B Exempt from Match</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>D_B_Out_of_Business</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DnBExempt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_15</name>
        <label>VM - NAICS Add</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>Copy Billing Address</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>myRule_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True2</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Billing_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Billing_City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Billing_State_or_Province__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Billing_Zip_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Billing_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Updated DnB Connect Fields
Migrated from the Account Processes process using multiple criteria.</description>
    <environments>Default</environments>
    <formulas>
        <name>DnBExempt</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() || ISCHANGED({!$Record.Generic_Account__c})) &amp;&amp;
ISBLANK({!$Record.DNBConnect__D_B_Connect_Company_Profile__c} ) &amp;&amp;
{!$Record.Generic_Account__c} = TRUE &amp;&amp;
{!$Record.dnb_exclude_company__c} = FALSE</expression>
    </formulas>
    <formulas>
        <name>formula_1_myRule_1_A1_6739763995</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.LastModifiedDate}</expression>
    </formulas>
    <formulas>
        <name>formula_2_myRule_1_A1_6500847570</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastModifiedById}</expression>
    </formulas>
    <formulas>
        <name>formula_3_myRule_1_A1_2083412429</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Number_Orderers__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_4_myRule_7_A1_7030227823</name>
        <dataType>String</dataType>
        <expression>IF(
 ISPICKVAL({!$Record.ERP_Billing_Country__c},&quot;&quot;),
 {!$Record.BillingCountry},
 TEXT({!$Record.ERP_Billing_Country__c})
)</expression>
    </formulas>
    <formulas>
        <name>formula_5_myRule_10_A1_5612479523</name>
        <dataType>String</dataType>
        <expression>IF(
 ISPICKVAL({!$Record.ERP_Shipping_Country__c},&quot;&quot;),
 {!$Record.ShippingCountry},
 TEXT({!$Record.ERP_Shipping_Country__c})
)</expression>
    </formulas>
    <formulas>
        <name>formula_6_myRule_15_A1_0117243501</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.NAICS__r.Vertical_Market__c} )</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.NAICS__c}) &amp;&amp;
!ISBLANK({!$Record.NAICS__c}) &amp;&amp;

(TEXT({!$Record.NAICS__r.Vertical_Market__c}) != TEXT({!$Record.Vertical_Markets__c}))</expression>
    </formulas>
    <interviewLabel>Account Processes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Processes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_10_A1</name>
        <label>Copy ERP Shipping</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>myRule_13</targetReference>
        </connector>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.ERP_Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>formula_5_myRule_10_A1_5612479523</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.ERP_Shipping_Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.ERP_Shipping_State_or_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.ERP_Shipping_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_13_A1</name>
        <label>Do Not Allow D&amp;B Match</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>D_B_Out_of_Business</targetReference>
        </connector>
        <inputAssignments>
            <field>dnb_exclude_company__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_15_A1</name>
        <label>Add VM</label>
        <locationX>50</locationX>
        <locationY>1931</locationY>
        <inputAssignments>
            <field>Vertical_Markets__c</field>
            <value>
                <elementReference>$Record.NAICS__r.Vertical_Market__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Changed By and Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>myRule_7</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Account_Owner_Change_Date__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Account_Owner_Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Type__c</field>
            <value>
                <elementReference>$Record.Owner.User_Owner_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Buyers_at_Owner_Change__c</field>
            <value>
                <elementReference>$Record.Number_Orderers__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A1</name>
        <label>Copy ERP Billing</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>myRule_10</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.ERP_Billing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>formula_4_myRule_7_A1_7030227823</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.ERP_Billing_Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.ERP_Billing_State_or_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.ERP_Billing_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Out_Of_Business</name>
        <label>Out Of Business</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>myRule_15</targetReference>
        </connector>
        <inputAssignments>
            <field>Out_of_Business__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
