unpackaged/main/default/flows/Account_Downstream_Reassignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Account Downstream Reassignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Downstream Reassignments</label>
    <loops>
        <description>Reassign a Contact&apos;s open tasks, then the contact; loop through all contacts in the collection</description>
        <name>Reassign_Contacts_and_their_Tasks</name>
        <label>Reassign Contacts and their Tasks</label>
        <locationX>608</locationX>
        <locationY>209</locationY>
        <collectionReference>Get_Contacts_to_Reassign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reassign_Contact_s_Open_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opportunities_to_Reassign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Reassign an Opportunity&apos;s Open Tasks and Quotes then the Opportunity</description>
        <name>Reassign_Opportunities_and_their_Tasks_and_Quotes</name>
        <label>Reassign Opportunities and their Tasks and Quotes</label>
        <locationX>972</locationX>
        <locationY>209</locationY>
        <collectionReference>Get_Opportunities_to_Reassign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reassign_Opportunity_s_Open_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reassign_Misc_3D_Quotes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>176</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reassign_Open_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts_to_Reassign</name>
        <label>Get Contacts to Reassign</label>
        <locationX>459</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reassign_Contacts_and_their_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities_to_Reassign</name>
        <label>Get Opportunities to Reassign</label>
        <locationX>795</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reassign_Opportunities_and_their_Tasks_and_Quotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Hold_Op_to_Prior_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000JSFKAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Reassigning the 3D Quotes associated with this Opp</description>
        <name>Reassign_3D_Quotes</name>
        <label>Reassign 3D Quotes</label>
        <locationX>973</locationX>
        <locationY>416</locationY>
        <connector>
            <targetReference>Reassign_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reassign_Opportunities_and_their_Tasks_and_Quotes.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Reassign_Opportunities_and_their_Tasks_and_Quotes.Account.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000JToqAAG</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Reassign_Opportunities_and_their_Tasks_and_Quotes.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Quote_ERP__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reassign_Contact_s_Open_Tasks</name>
        <label>Reassign Contact&apos;s Open Tasks</label>
        <locationX>541</locationX>
        <locationY>415</locationY>
        <connector>
            <targetReference>Reassign_Loop_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reassign_Contacts_and_their_Tasks.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reassign_Contacts_and_their_Tasks.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Reassign_Contacts_and_their_Tasks.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reassign_Loop_Contact</name>
        <label>Reassign Loop Contact</label>
        <locationX>670</locationX>
        <locationY>415</locationY>
        <connector>
            <targetReference>Reassign_Contacts_and_their_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reassign_Contacts_and_their_Tasks.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Reassign_Contacts_and_their_Tasks.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Reassign all 3D quotes that don&apos;t have an Opportunity</description>
        <name>Reassign_Misc_3D_Quotes</name>
        <label>Reassign Misc 3D Quotes</label>
        <locationX>1185</locationX>
        <locationY>208</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000JToqAAG</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Account_Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Quote_ERP__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reassign_Open_Tasks</name>
        <label>Reassign Open Tasks</label>
        <locationX>320</locationX>
        <locationY>209</locationY>
        <connector>
            <targetReference>Get_Contacts_to_Reassign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousOwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Account_Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reassign_Opportunity</name>
        <label>Reassign Opportunity</label>
        <locationX>1098</locationX>
        <locationY>416</locationY>
        <connector>
            <targetReference>Reassign_Opportunities_and_their_Tasks_and_Quotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reassign_Opportunities_and_their_Tasks_and_Quotes.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Reassign_Opportunities_and_their_Tasks_and_Quotes.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reassign_Opportunity_s_Open_Tasks</name>
        <label>Reassign Opportunity&apos;s Open Tasks</label>
        <locationX>842</locationX>
        <locationY>416</locationY>
        <connector>
            <targetReference>Reassign_3D_Quotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reassign_Opportunities_and_their_Tasks_and_Quotes.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reassign_Opportunities_and_their_Tasks_and_Quotes.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Reassign_Opportunities_and_their_Tasks_and_Quotes.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreviousOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
