unpackaged/main/default/flows/AutoCloseCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Auto_Assign_Category</name>
        <label>Auto Assign Category</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>JobAcceptCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Auto_Assign_Category1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>[XOM Work] [PDU]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[XOM Work] Certificate is about to expire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Category</targetReference>
            </connector>
            <label>Auto Assign Category1</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundinBlackList</name>
        <label>FoundinBlackList</label>
        <locationX>468</locationX>
        <locationY>995</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBlackListRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_the_Case</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Info</name>
        <label>Info@</label>
        <locationX>336</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>JobAcceptCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>info_xometry_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>info@xometry.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Assign_Category</targetReference>
            </connector>
            <label>info@xometry.com</label>
        </rules>
    </decisions>
    <decisions>
        <name>JobAcceptCase</name>
        <label>JobAcceptCase?</label>
        <locationX>336</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>GetBlackListRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Subject_Contains_Xom_Work_Job</name>
            <conditionLogic>(1 AND 2) OR 3 OR (4 AND 5) OR 6 OR ( 7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>[XOM Work] Job</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>[Xometry Support] PO Query Notification:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Your payment request has been Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>@xometry.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>[XOM Work] [PDU] Job</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>matt.xiong@fathommfg.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Success! Your order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_the_Case</targetReference>
            </connector>
            <label>Case Subject Contains [Xom Work] Job</label>
        </rules>
    </decisions>
    <description>IsClosedByAutoClose</description>
    <environments>Default</environments>
    <interviewLabel>AutoCloseCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoCloseCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetBlackListRecord</name>
        <label>GetBlackListRecord</label>
        <locationX>468</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundinBlackList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BlockedEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseEmailBlacklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_the_Case</name>
        <label>Close the Case</label>
        <locationX>336</locationX>
        <locationY>1379</locationY>
        <inputAssignments>
            <field>IsClosedByAutoClose__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCreatedbySpamEmail__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Solved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Spam/Cold Call/Marketing Email</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Category</name>
        <label>Update Category</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>JobAcceptCase</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Partner Report Request</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed,Solved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
