unpackaged/main/default/flows/CancellationRequestScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Parts</name>
        <label>Assign Parts</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>cancellationTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_Part.CustomerPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartIDToCancel</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Through_Selected_Part.CustomerPartID__c},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Part</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOrderTotal</name>
        <label>AssignOrderTotal</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>cancellationTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCurrentRecord.OrderTotal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Additional_Questions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Full_or_Partial</name>
        <label>Full or Partial</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>GetAllParts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partial</defaultConnectorLabel>
        <rules>
            <name>Full</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Full_or_Partial_Cancellation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrderTotalNull</targetReference>
            </connector>
            <label>Full</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrderTotalNull</name>
        <label>OrderTotalNull?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Additional_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentRecord.OrderTotal__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOrderTotal</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>SUPPORT-9464</description>
    <dynamicChoiceSets>
        <name>CancellationCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CancellationReasonCode__c</picklistField>
        <picklistObject>Ops_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FullPartialCancellation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FullPartialCancellation__c</picklistField>
        <picklistObject>Ops_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReplacementOrder</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CancellationReplacementOrder__c</picklistField>
        <picklistObject>Ops_Order__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DataFix1</name>
        <dataType>Number</dataType>
        <expression>{!cancellationTotal}/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CancellationRequestScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CancellationRequestScreenFlow</label>
    <loops>
        <name>Loop_Through_Selected_Part</name>
        <label>Loop Through Selected Part</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <collectionReference>PartIdPicker.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Parts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirmation1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAllParts</name>
        <label>GetAllParts</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PartPicker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ops_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PartStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </filters>
        <filters>
            <field>PartStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>PartStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>RMA</stringValue>
            </value>
        </filters>
        <filters>
            <field>PartStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Final Inspection Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>PartStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Final Inspection Passed</stringValue>
            </value>
        </filters>
        <filters>
            <field>PartStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Partner Remake</stringValue>
            </value>
        </filters>
        <filters>
            <field>PartStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Partner Rework</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ordered_Part__c</object>
        <sortField>CustomerPartID__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentRecord</name>
        <label>GetCurrentRecord</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RequestforCancellation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ops_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Changes_to_the_DB</name>
        <label>Save Changes to the DB</label>
        <locationX>380</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>FinalInstruction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CancellationApprovedByCSuite__c</field>
            <value>
                <elementReference>IsApprovedByCSuite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CancellationCSuiteApprovedBy__c</field>
            <value>
                <elementReference>CSuiteApprovedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CancellationDollarAmount__c</field>
            <value>
                <elementReference>cancellationTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CancellationPartID__c</field>
            <value>
                <elementReference>PartIDToCancel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CancellationReasonCode__c</field>
            <value>
                <elementReference>CancellationReasonCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CancellationReplacementOrderNumber__c</field>
            <value>
                <elementReference>CancellationReplacementOrderNumber.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CancellationReplacementOrder__c</field>
            <value>
                <elementReference>ReplacementOrder1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CancellationRequestStatus__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CancellationRequestSubmittedByName__c</field>
            <value>
                <elementReference>$User.Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CancellationRequestSubmittedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FullPartialCancellation__c</field>
            <value>
                <elementReference>Choose_Full_or_Partial_Cancellation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubmissionComments__c</field>
            <value>
                <elementReference>CancellationDetails</elementReference>
            </value>
        </inputAssignments>
        <object>Ops_Order__c</object>
    </recordUpdates>
    <screens>
        <name>Additional_Questions</name>
        <label>Additional Questions</label>
        <locationX>380</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Changes_to_the_DB</targetReference>
        </connector>
        <fields>
            <name>Additional_Questions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Questions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ReplacementOrder1</name>
                    <choiceReferences>ReplacementOrder</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Replacement Order</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_Questions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CancellationReplacementOrderNumber</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Cancellation Replacement Order Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Ops_Order__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CancellationReplacementOrderNumber__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ReplacementOrder1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes - Immediately</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CancellationReasonCode</name>
            <choiceReferences>CancellationCode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cancellation Reason Code</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CancellationDetails</name>
            <fieldText>Cancellation Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IsApprovedByCSuite</name>
            <dataType>Boolean</dataType>
            <fieldText>Please Check This Box If The Cancellation Is Approved By C-Suite</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CSuiteApprovedBy</name>
            <dataType>String</dataType>
            <fieldText>Please Specify C-Suite Leadership That Approved The Cancellation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsApprovedByCSuite</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation1</name>
        <label>Confirmation1</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_Questions</targetReference>
        </connector>
        <fields>
            <name>Confirmation2</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Parts Selected:&lt;/strong&gt; {!PartIDToCancel}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Parts Selected Total:&lt;/strong&gt; ${!cancellationTotal}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinalInstruction</name>
        <label>FinalInstruction</label>
        <locationX>380</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation3</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Instructions&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(254, 0, 0);&quot;&gt;Reminder: Order must be placed on hold or canceled in ERP (Orders &amp;gt;5k must be approved before canceling. Please place on hold and notify CPC)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PartPicker</name>
        <label>Part Picker</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Selected_Part</targetReference>
        </connector>
        <fields>
            <name>Inst1</name>
            <fieldText>&lt;p&gt;Choose Part(s) to Cancel:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PartIdPicker</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Ordered_Part__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Ordered_Part__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetAllParts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>CustomerPartID__c,CustomerPrice__c,PartStatus__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>CustomerPartID__c:269, CustomerPrice__c:438, PartStatus__c:438</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RequestforCancellation</name>
        <label>Request for Cancellation</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Full_or_Partial</targetReference>
        </connector>
        <fields>
            <name>Reminder1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(254, 0, 0); font-size: 14px;&quot;&gt;Reminder: Order must be placed on hold or canceled&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt; in ERP (Orders &amp;gt;5k must be approved before canceling, please place on hold and notify CPC)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_Full_or_Partial_Cancellation</name>
            <choiceReferences>FullPartialCancellation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Full or Partial Cancellation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cancellationTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PartIDToCancel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
