unpackaged/main/default/flows/CaseWaitingCustormer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_User</name>
        <label>Notify User</label>
        <locationX>506</locationX>
        <locationY>744</locationY>
        <actionName>Case.X48_hours_notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.X48_hours_notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Remainder</name>
        <label>Send Remainder</label>
        <locationX>110</locationX>
        <locationY>288</locationY>
        <actionName>Case.X24_hours_remainder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.X24_hours_remainder</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>setContOwner</name>
        <label>setContOwner</label>
        <locationX>638</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>newOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseContactOwnerID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateStatusPending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOppOwner</name>
        <label>setOppOwner</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>newOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityOwnerID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateStatusPending</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>validateHasOppOwner</name>
        <label>validateHasOppOwner</label>
        <locationX>506</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>setContOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasOppOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OpportunityOwnerID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setOppOwner</targetReference>
            </connector>
            <label>hasOppOwner</label>
        </rules>
    </decisions>
    <description>Update Time.</description>
    <environments>Default</environments>
    <interviewLabel>CaseWaiting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSE2.0 CaseWaitingCustormer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateStatusPending</name>
        <label>updateStatusPending</label>
        <locationX>506</locationX>
        <locationY>624</locationY>
        <connector>
            <targetReference>Notify_User</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PSEOutcome__c</field>
            <value>
                <stringValue>(PSE Option) - More Information Needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>PSEOutcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>(PSE Option) - More Information Needed PSE</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X24h</name>
            <connector>
                <targetReference>Send_Remainder</targetReference>
            </connector>
            <label>24h</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X48h</name>
            <connector>
                <targetReference>validateHasOppOwner</targetReference>
            </connector>
            <label>48h</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>newOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
