unpackaged/main/default/flows/Case_Escalation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Hours</name>
        <label>Calculate Hours</label>
        <locationX>446</locationX>
        <locationY>396</locationY>
        <actionName>BusinessHoursHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>How_much_time</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dtTimeSetToAwaitingCustomer</name>
            <value>
                <elementReference>$Record.dateTimeSetToAwaitingCustomer__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BusinessHoursHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X24_hours_remainder</name>
        <label>24 hours remainder</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <actionName>Case.X24_hours_remainder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.X24_hours_remainder</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X48_hours_notification</name>
        <label>48 hours notification</label>
        <locationX>446</locationX>
        <locationY>1092</locationY>
        <actionName>Case.X48_hours_notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.X48_hours_notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>setContOwner</name>
        <label>setContOwner</label>
        <locationX>578</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>newOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseContactOwnerID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateStatusPending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOppOwner</name>
        <label>setOppOwner</label>
        <locationX>314</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>newOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityOwnerID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateStatusPending</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>How_much_time</name>
        <label>How much time?</label>
        <locationX>446</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Between_24_and_48_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calculate_Hours</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>16.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Calculate_Hours</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X24_hours_remainder</targetReference>
            </connector>
            <label>Between 24 and 48 hours</label>
        </rules>
        <rules>
            <name>X48_or_more_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calculate_Hours</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>16.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>validateHasOppOwner</targetReference>
            </connector>
            <label>48 or more hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PSE_Case</name>
        <label>Is PSE Case?</label>
        <locationX>776</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PSE_record_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSE_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Hours</targetReference>
            </connector>
            <label>PSE record type</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateHasOppOwner</name>
        <label>validateHasOppOwner</label>
        <locationX>446</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>setContOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasOppOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OpportunityOwnerID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setOppOwner</targetReference>
            </connector>
            <label>hasOppOwner</label>
        </rules>
    </decisions>
    <description>Test</description>
    <environments>Default</environments>
    <interviewLabel>Case Escalation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Escalation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateStatusPending</name>
        <label>updateStatusPending</label>
        <locationX>446</locationX>
        <locationY>972</locationY>
        <connector>
            <targetReference>X48_hours_notification</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PSEOutcome__c</field>
            <value>
                <stringValue>(PSE Option) - More Information Needed PSE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dateTimeSetToAwaitingCustomer__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_PSE_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>PSEOutcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>(PSE Option) - More Information Needed PSE</stringValue>
            </value>
        </filters>
        <filters>
            <field>dateTimeSetToAwaitingCustomer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-04-11</startDate>
            <startTime>12:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
