unpackaged/main/default/flows/Close_IM_NMI_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Opp_to_Collection_to_Close</name>
        <label>Add Opp to Collection to Close</label>
        <locationX>138</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>OppsToClose</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppToCloseSetFields</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_and_Store_in_ClosedCasesCollection</name>
        <label>Close and Store in ClosedCasesCollection</label>
        <locationX>270</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>ClosedCasesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateCaseTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OppToClose</name>
        <label>OppToClose</label>
        <locationX>138</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>OppToCloseSetFields.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Opp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCloseSetFields.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCloseSetFields.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Response</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCloseSetFields.Loss_Reason_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OR - IM NMI - No Response</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opp_to_Collection_to_Close</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>270</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>UpdateCaseTemp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateCaseTemp.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_and_Store_in_ClosedCasesCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FoundCasesToClose</name>
        <label>FoundCasesToClose?</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Get_remaining_IM_MNI_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Cases to Close</defaultConnectorLabel>
        <rules>
            <name>Yes_Cases_to_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IM_MNI_Cases_to_Close</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Cases</targetReference>
            </connector>
            <label>Yes - Cases to Close</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_IM_NMI_Cases</name>
        <label>Open IM NMI Cases?</label>
        <locationX>182</locationX>
        <locationY>2004</locationY>
        <defaultConnector>
            <targetReference>Clear_OR_Tag_on_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Open IM NMI Cases</defaultConnectorLabel>
        <rules>
            <name>Yes_Still_Open_IM_NMI_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_remaining_IM_MNI_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes - Still Open IM NMI Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_to_Close</name>
        <label>Opp to Close?</label>
        <locationX>270</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Close_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Opp or Opp is Closed</defaultConnectorLabel>
        <rules>
            <name>Yes_Close_Related_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppToClose</targetReference>
            </connector>
            <label>Yes, Close Related Opp</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TenDaysAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 10</expression>
    </formulas>
    <interviewLabel>Close IM NMI Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close IM NMI Cases</label>
    <loops>
        <name>Close_Cases</name>
        <label>Close Cases</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_IM_MNI_Cases_to_Close</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateCase</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PushCaseUpdates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_IM_MNI_Cases_to_Close</name>
        <label>Get IM MNI Cases to Close</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundCasesToClose</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OR_Tag__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OR Sequence - IM NMI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>OR_Tag_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>TenDaysAgo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Opp</name>
        <label>Get Related Opp</label>
        <locationX>270</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_to_Close</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Close_Cases.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_remaining_IM_MNI_Cases</name>
        <label>Get remaining IM MNI Cases</label>
        <locationX>182</locationX>
        <locationY>1884</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_IM_NMI_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OR_Tag__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OR Sequence - IM NMI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>OR_Tag_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TenDaysAgo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_OR_Tag_on_Case</name>
        <label>Clear OR Tag on Case</label>
        <locationX>314</locationX>
        <locationY>2124</locationY>
        <inputAssignments>
            <field>OR_Tag__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Push_Opp_Updates</name>
        <label>Push Opp Updates</label>
        <locationX>50</locationX>
        <locationY>1668</locationY>
        <connector>
            <targetReference>Get_remaining_IM_MNI_Cases</targetReference>
        </connector>
        <inputReference>OppsToClose</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PushCaseUpdates</name>
        <label>PushCaseUpdates</label>
        <locationX>50</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>Push_Opp_Updates</targetReference>
        </connector>
        <inputReference>ClosedCasesCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_IM_MNI_Cases_to_Close</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Outreach_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unresponsive</stringValue>
            </value>
        </filters>
        <filters>
            <field>OR_Tag__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OR Sequence - IM NMI</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-04-21</startDate>
            <startTime>21:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ClosedCasesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OppsToClose</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppToCloseSetFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdateCaseTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
