unpackaged/main/default/flows/Competition_Price_Match.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>CaseAssignmentRule</name>
        <label>CaseAssignmentRule</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <actionName>Run_Assignment__Invocable_StandardAssignment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Primary_Case_Opp</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>Create_Price_Match_Case</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Run_Assignment__Invocable_StandardAssignment</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Current_Record_to_CaseOppCollection</name>
        <label>Assign Current Record to CaseOppCollection</label>
        <locationX>138</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>NewCaseOppCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCaseOppRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Additional_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the selected Primary Opp to the recordId variable for processing.</description>
        <name>Assign_Primary_Opp_to_Primary_Opp_Variable</name>
        <label>Assign Primary Opp to Primary Opp Variable</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>PrimaryOpp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryOpportunityDT.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Primary_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Primary_CaseOpp</name>
        <label>Assign Values to Primary CaseOpp</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>PrimaryCaseOpp.IsPrimaryOppOnCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryCaseOpp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Case_Opp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Primary_Case_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Opp_fields_to_CaseOpp_fields</name>
        <label>Map Opp fields to CaseOpp fields</label>
        <locationX>138</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>NewCaseOppRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Additional_Opps.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseOppRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Additional_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseOppRecord.Xometry_Order_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Additional_Opps.Order_ERP_Xom_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseOppRecord.Xometry_ERP_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Additional_Opps.Quote_ERP_XOM_CREATE_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseOppRecord.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Price_Match_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Record_to_CaseOppCollection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Additional_Opps_Selected</name>
        <label>Additional Opps Selected</label>
        <locationX>182</locationX>
        <locationY>1718</locationY>
        <defaultConnector>
            <targetReference>Create_Competition_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Additional Opportunities</defaultConnectorLabel>
        <rules>
            <name>Additional_Opps_Selected_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_any_additional_Opportunities_need_to_be_added_to_this_Price_Match_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Additional_Opps</targetReference>
            </connector>
            <label>Additional Opps Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_need_a_Price_Match_request_created</name>
        <label>Do we need a Price Match request created?</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Create_Competition_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_a_Price_Match_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPrimaryOppsChoices</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create Competition record and give the option to also create a Price Match Request as a PSE Case</description>
    <dynamicChoiceSets>
        <name>AddOppsChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>PrimaryOpp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CompetitionReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason__c</picklistField>
        <picklistObject>Competition__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Competitor_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Competitor__c</picklistField>
        <picklistObject>Competition__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppsChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>PrimaryOpp.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CommentsMaker</name>
        <dataType>String</dataType>
        <expression>&quot;Competitive Price Match Request for: &quot; &amp; {!Get_Primary_Opportunity.Last_Quote_Xometry_ERP_ID__c} &amp;
BR() &amp; BR() &amp;
&quot;Competition Information:&quot; &amp; BR() &amp;
&quot;Competitor: &quot; &amp; IF({!Competitor} = &quot;Other&quot;,{!Please_Input_Competitor_Name},{!Competitor}) &amp; BR() &amp;
&quot; - Total Price: $&quot; &amp; TEXT({!Competitor_Total_Price}) &amp; BR() &amp;
&quot; - Lead Time: &quot; &amp; TEXT({!Competitor_Lead_Time}) &amp; BR() &amp;
&quot; - Manufacturing Origin Location: &quot; &amp; {!Manufacturing_Origin_Requirement} &amp; BR() &amp;
&quot; - Customer Deadline: &quot; &amp; TEXT({!Customer_Deadline}) &amp; BR() &amp;
BR() &amp;
&quot;Competition Reason: &quot; &amp; IF({!What_drove_them_to_a_Competitor} = &quot;Other&quot;,{!Please_describe_Other_reason},{!What_drove_them_to_a_Competitor}) &amp; BR() &amp;
&quot;Xometry Lead Time: &quot; &amp; TEXT({!Xometry_Lead_Time}) &amp; BR() &amp;
&quot;Additional Information: &quot; &amp; {!Additional_Info}</expression>
    </formulas>
    <formulas>
        <name>SubjectMaker</name>
        <dataType>String</dataType>
        <expression>&quot;Competitive Price Match Request for: &quot; &amp; {!Get_Primary_Opportunity.Last_Quote_Xometry_ERP_ID__c}</expression>
    </formulas>
    <interviewLabel>Competition/Price Match {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Competition/Price Match</label>
    <loops>
        <name>Loop_Through_Additional_Opps</name>
        <label>Loop Through Additional Opps</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <collectionReference>AdditionalOppsDataTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Map_Opp_fields_to_CaseOpp_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CaseOpp_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CaseOpp_Records</name>
        <label>Create CaseOpp Records</label>
        <locationX>50</locationX>
        <locationY>2294</locationY>
        <connector>
            <targetReference>Create_Competition_Record</targetReference>
        </connector>
        <inputReference>NewCaseOppCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Competition_Record</name>
        <label>Create Competition Record</label>
        <locationX>336</locationX>
        <locationY>2606</locationY>
        <inputAssignments>
            <field>Additional_Info__c</field>
            <value>
                <elementReference>Additional_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Price_Match_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_Lead_Time_Days__c</field>
            <value>
                <elementReference>Competitor_Lead_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_Other__c</field>
            <value>
                <elementReference>Please_Input_Competitor_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_Total_Price__c</field>
            <value>
                <elementReference>Competitor_Total_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor__c</field>
            <value>
                <elementReference>Competitor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Deadline__c</field>
            <value>
                <elementReference>Customer_Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manufacturing_Origin_Requirement__c</field>
            <value>
                <elementReference>Manufacturing_Origin_Requirement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Primary_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Match_Requested__c</field>
            <value>
                <elementReference>Create_a_Price_Match_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Other__c</field>
            <value>
                <elementReference>Please_describe_Other_reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>What_drove_them_to_a_Competitor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Xometry_Lead_Time_Days__c</field>
            <value>
                <elementReference>Xometry_Lead_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Xometry_Total_Price__c</field>
            <value>
                <elementReference>Get_Primary_Opportunity.Amount</elementReference>
            </value>
        </inputAssignments>
        <object>Competition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Price_Match_Case</name>
        <label>Create Price Match Case</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>CaseAssignmentRule</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Primary_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>CommentsMaker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Primary_Opportunity.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CommentsMaker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Primary_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Price Match Request Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Urgent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Get_Primary_Opportunity.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123u000000ixWPAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectMaker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Price Match</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Additional_Opps_Choices</name>
        <label>Get Additional Opps Choices</label>
        <locationX>182</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Additional_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>PrimaryOpp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Last_Quote_Xometry_ERP_ID__c</queriedFields>
        <queriedFields>Order_ERP_Xom_ID__c</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Manufacturing_Process__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Case_Opp</name>
        <label>Get Primary Case Opp</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_Primary_CaseOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Price_Match_Case</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Opportunity</name>
        <label>Get Primary Opportunity</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Price_Match_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryOpp.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPrimaryOppsChoices</name>
        <label>GetPrimaryOppsChoices</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Opportunity_Choice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Last_Quote_Xometry_ERP_ID__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Order_ERP_Xom_ID__c</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Manufacturing_Process__c</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Primary_Case_Opp</name>
        <label>Update Primary Case Opp</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Get_Additional_Opps_Choices</targetReference>
        </connector>
        <inputReference>PrimaryCaseOpp</inputReference>
    </recordUpdates>
    <screens>
        <name>Competition</name>
        <label>Competition</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Do_we_need_a_Price_Match_request_created</targetReference>
        </connector>
        <fields>
            <name>Intro</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Price Match Intake Form&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;NOTE: &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;You are creating a Price Match/Competition record for an ERP Quote&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Competitor</name>
            <choiceReferences>Competitor_List</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Competitor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Competition Field: Competitor&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_Input_Competitor_Name</name>
            <dataType>String</dataType>
            <fieldText>Please Input Competitor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Competitor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_drove_them_to_a_Competitor</name>
            <choiceReferences>CompetitionReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What reason drove them to a Competitor?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Competition &lt;/span&gt;Field: Reason&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_describe_Other_reason</name>
            <dataType>String</dataType>
            <fieldText>Please describe &quot;Other&quot; reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_drove_them_to_a_Competitor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Competitor_Total_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Competitor Total Price (Product Only)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Competition &lt;/span&gt;Field: Competitor Total Price&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Competitor_Lead_Time</name>
            <dataType>Number</dataType>
            <fieldText>Competitor Lead Time (Business Days)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Competition Field: Competitor Lead Time&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Xometry_Lead_Time</name>
            <dataType>Number</dataType>
            <fieldText>Xometry Lead Time (Business Days)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Competition &lt;/span&gt;Field: Xometry Lead Time&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Create_a_Price_Match_Request</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Create a Price Match Request?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Manufacturing_Origin_Requirement</name>
            <dataType>String</dataType>
            <fieldText>Where does the part(s) need to be manufactured?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Competition &lt;/span&gt;Field: Manufacturing Origin Requirement&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_a_Price_Match_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Deadline</name>
            <dataType>Date</dataType>
            <fieldText>When does the customer need part(s) delivered?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Competition &lt;/span&gt;Field: Customer Deadline&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_a_Price_Match_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Info</name>
            <dataType>String</dataType>
            <fieldText>What additional info can you provide for this price match?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Additional info is limited to 255 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Additional_Info}) &lt;= 255</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_a_Price_Match_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>The user must select the primary opportunity.</description>
        <name>Primary_Opportunity_Choice</name>
        <label>Primary Opportunity Choice</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Primary_Opp_to_Primary_Opp_Variable</targetReference>
        </connector>
        <fields>
            <name>PrimaryOpportunityQuestion</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Please select the main Opportunity that will be directly related to this Price Match Case.﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;Note: You will be given the option to add more Opportunities on the next screen.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PrimaryOpportunityDT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetPrimaryOppsChoices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Amount,StageName,Manufacturing_Process__c,Last_Quote_Xometry_ERP_ID__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:200, Amount:100, StageName:85, Manufacturing_Process__c:275, Last_Quote_Xometry_ERP_ID__c:140</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Opportunities</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:false, Amount:false, StageName:true, Manufacturing_Process__c:true, Last_Quote_Xometry_ERP_ID__c:false</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Gives the user to select additional Opps to add if they have any.</description>
        <name>Select_Additional_Opps</name>
        <label>Select Additional Opps</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_Opps_Selected</targetReference>
        </connector>
        <fields>
            <name>Do_any_additional_Opportunities_need_to_be_added_to_this_Price_Match_Request</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do any additional Opportunities need to be added to this Price Match Request?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AdditionalOppsHelpText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please select Additional Opportunities from the list below. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_any_additional_Opportunities_need_to_be_added_to_this_Price_Match_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AdditionalOppsDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Amount,StageName,Manufacturing_Process__c,Last_Quote_Xometry_ERP_ID__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:200, Amount:100, StageName:85, Manufacturing_Process__c:275, Last_Quote_Xometry_ERP_ID__c:140</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Additional_Opps_Choices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Opportunities</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:false, Amount:false, StageName:true, Manufacturing_Process__c:true, Last_Quote_Xometry_ERP_ID__c:false</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_any_additional_Opportunities_need_to_be_added_to_this_Price_Match_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileUploadDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;If you have the Competitor&apos;s Quote, please Upload it below.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;NOTE: Please do not exceed 12MB per file&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Do_any_additional_Opportunities_need_to_be_added_to_this_Price_Match_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Do_any_additional_Opportunities_need_to_be_added_to_this_Price_Match_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CompetitorQuoteFileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Competitor&apos;s Quote:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Price_Match_Case</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Do_any_additional_Opportunities_need_to_be_added_to_this_Price_Match_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Do_any_additional_Opportunities_need_to_be_added_to_this_Price_Match_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Competition</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewCaseOppCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseOpportunity__c</objectType>
    </variables>
    <variables>
        <name>NewCaseOppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseOpportunity__c</objectType>
    </variables>
    <variables>
        <name>PrimaryCaseOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseOpportunity__c</objectType>
    </variables>
    <variables>
        <name>PrimaryOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
</Flow>
