unpackaged/main/default/flows/Contact_First_IM_Tool_Quote_and_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Update_Quote_Date</name>
        <label>Update Quote Date?</label>
        <locationX>446</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>No Updates</defaultConnectorLabel>
        <rules>
            <name>Update_Quote_and_Order_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Oldest_IM_Tool_Quote.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact_First_IM_Tool_Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Oldest_IM_Tool_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact_First_IM_Tool_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Quote_and_Order_Dates</targetReference>
            </connector>
            <label>Update Quote and Order Dates</label>
        </rules>
        <rules>
            <name>Update_Quote_Date_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Oldest_IM_Tool_Quote.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact_First_IM_Tool_Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Quote_Date</targetReference>
            </connector>
            <label>Update Quote Date Only</label>
        </rules>
        <rules>
            <name>Update_Order_Date_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Oldest_IM_Tool_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact_First_IM_Tool_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Order_Date</targetReference>
            </connector>
            <label>Update Order Date Only</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contact - First IM Tool Quote and Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - First IM Tool Quote and Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Oldest_IM_Tool_Order</name>
        <label>Get Oldest IM Tool Order</label>
        <locationX>446</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Quote_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>has_ordered_Injection_Molding_Tool__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Order_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Order_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oldest_IM_Tool_Quote</name>
        <label>Get Oldest IM Tool Quote</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oldest_IM_Tool_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Most_Recent_Quote_Injection_Molding_Tool__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quote_Created_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Quote_Created_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Order_Date</name>
        <label>Update Contact Order Date</label>
        <locationX>578</locationX>
        <locationY>636</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_IM_Tool_Order__c</field>
            <value>
                <elementReference>Get_Oldest_IM_Tool_Order.Order_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Quote_and_Order_Dates</name>
        <label>Update Contact Quote and Order Dates</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_IM_Tool_Order__c</field>
            <value>
                <elementReference>Get_Oldest_IM_Tool_Order.Order_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_IM_Tool_Quote__c</field>
            <value>
                <elementReference>Get_Oldest_IM_Tool_Quote.Quote_Created_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Quote_Date</name>
        <label>Update Contact Quote Date</label>
        <locationX>314</locationX>
        <locationY>636</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_IM_Tool_Quote__c</field>
            <value>
                <elementReference>Get_Oldest_IM_Tool_Quote.Quote_Created_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Oldest_IM_Tool_Quote</targetReference>
        </connector>
        <filterLogic>5 AND ((1 AND 2 AND 6) OR (3 AND 4 AND 7 AND 8))</filterLogic>
        <filters>
            <field>Most_Recent_Quote_Injection_Molding_Tool__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact_First_IM_Tool_Quote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>has_ordered_Injection_Molding_Tool__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact_First_IM_Tool_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quote_Created_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Order_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-09</startDate>
            <startTime>03:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
