unpackaged/main/default/flows/Contact_Change_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>myRule_1</name>
        <label>Owner Changed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Owner Changed</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Owner Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_12</name>
        <label>QSO Award Owner Criteria</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>myRule_15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_QSO Award Owner Criteria</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_12</name>
            <conditionLogic>1 and (2 or 3) and 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QSO_Award_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QSO_Quote_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QSO_Webinar_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_SDR_Activity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>TRUE_QSO Award Owner Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_15</name>
        <label>Survey Follow Up</label>
        <locationX>182</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>myRule_19</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Survey Follow Up</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>TRUE_Survey Follow Up</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_19</name>
        <label>Copy Shipping Address</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>myRule_22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Copy Shipping Address</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_19</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Shipping_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Shipping_City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Shipping_State_or_Province__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Shipping_Zip_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Shipping_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>TRUE_Copy Shipping Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_22</name>
        <label>D&amp;B Exempt from Match</label>
        <locationX>182</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>myRule_24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_D&amp;B Exempt from Match</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_22</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_A1</targetReference>
            </connector>
            <label>TRUE_D&amp;B Exempt from Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_24</name>
        <label>First Quote Owner</label>
        <locationX>182</locationX>
        <locationY>2423</locationY>
        <defaultConnectorLabel>FALSE_First Quote Owner</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_24</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_24_A1</targetReference>
            </connector>
            <label>TRUE_First Quote Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4</name>
        <label>QSO Quote Date Criteria</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>myRule_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_QSO Quote Date Criteria</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_of_Last_Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_SDR_Activity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_of_Last_Quote__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>formula_1_Formula_7961956605</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_of_Last_Quote__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>formula_2_Formula_2831175319</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QSO_Quote_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>TRUE_QSO Quote Date Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9</name>
        <label>QSO Award Date Criteria</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>myRule_12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_QSO Award Date Criteria</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_9</name>
            <conditionLogic>1 and (2 or 3) and 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QSO_Award_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QSO_Quote_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QSO_Webinar_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_SDR_Activity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>TRUE_QSO Award Date Criteria</label>
        </rules>
    </decisions>
    <description>Migrated from the Contact Change process using multiple criteria.</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_1_Formula_7961956605</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE ( {!$Record.Last_SDR_Activity__c}  ) +14</expression>
    </formulas>
    <formulas>
        <name>formula_1_myRule_4_A1_5571739758</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Last_SDR_Activity__c}</expression>
    </formulas>
    <formulas>
        <name>formula_2_Formula_2831175319</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Last_SDR_Activity__c}</expression>
    </formulas>
    <formulas>
        <name>formula_2_myRule_9_A1_9147776366</name>
        <dataType>DateTime</dataType>
        <expression>if ( isnull ( {!$Record.QSO_Quote_Date__c}  ) , {!$Record.QSO_Webinar_Date__c} , {!$Record.QSO_Quote_Date__c}  )</expression>
    </formulas>
    <formulas>
        <name>formula_3_myRule_12_A1_6530545388</name>
        <dataType>String</dataType>
        <expression>{!$Record.Last_SDR_Activity_Owner__c}</expression>
    </formulas>
    <formulas>
        <name>formula_4_myRule_15_A1_4357914557</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <formulas>
        <name>formula_5_myRule_15_A1_2839716193</name>
        <dataType>String</dataType>
        <expression>&quot;How likely is it that you would recommend Xometry to a friend or colleague?&quot; &amp; BR() &amp;
TEXT({!$Record.NPS__c}) &amp; BR() &amp;
BR() &amp;

IF(ISBLANK({!$Record.Requested_Changes__c}),&quot;&quot;,&quot;What changes would Xometry have to make to earn more of your business?&quot; &amp; BR() &amp;
{!$Record.Requested_Changes__c} &amp; BR() &amp;
BR()) &amp;

IF(ISBLANK({!$Record.Strengths__c}),&quot;&quot;,&quot;What does Xometry do really well?&quot; &amp; BR() &amp;
{!$Record.Strengths__c} &amp; BR() &amp;
BR()) &amp;

IF(ISPICKVAL({!$Record.Use_Xometry__c},&quot;&quot;),&quot;&quot;,&quot;What percentage of the time do you use Xometry vs. another supplier for custom manufacturing?&quot; &amp; BR() &amp;
TEXT({!$Record.Use_Xometry__c}) &amp; BR() &amp;
BR()) &amp;

&quot;For more information, paste this into the search bar in Slack:&quot; &amp; BR() &amp;
{!$Record.Email} &amp; &quot; in:#customer_feedback&quot; &amp; BR() &amp;
BR() &amp;

&quot;Or see the Customer_Feedback channel in Slack:&quot; &amp; BR() &amp;
&quot;https://app.slack.com/client/T0DM6AE3T/CHYU7ELAZ&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_6_myRule_19_A1_6160741546</name>
        <dataType>String</dataType>
        <expression>IF(
 ISPICKVAL({!$Record.ERP_Shipping_Country__c},&quot;&quot;),
 {!$Record.MailingCountry},
 TEXT({!$Record.ERP_Shipping_Country__c})
)</expression>
    </formulas>
    <formulas>
        <name>formula_7_myRule_24_A1_7488987670</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner.UserRole.Name}</expression>
    </formulas>
    <formulas>
        <name>formula_8_myRule_24_A1_4989679733</name>
        <dataType>String</dataType>
        <expression>{!$Record.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>!ISNEW() &amp;&amp;
!ISBLANK({!$Record.NPS__c}) &amp;&amp;
{!$Record.NPS__c} &lt; 9 &amp;&amp;
ISCHANGED({!$Record.NPS__c})</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_22</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() || ISCHANGED({!$Record.Generic_Contact__c})) &amp;&amp;
{!$Record.Generic_Contact__c} = TRUE &amp;&amp;
 ISBLANK({!$Record.DNBConnect__D_B_Connect_Contact_Profile__r.Id}) &amp;&amp; {!$Record.dnb_exclude_company__c} = FALSE</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_24</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.First_Quote_Owner__c}) &amp;&amp;

!ISBLANK({!$Record.First_Quote_Date__c})&amp;&amp;
ISCHANGED({!$Record.First_Quote_Date__c})&amp;&amp;
ISBLANK(PRIORVALUE({!$Record.First_Quote_Date__c}))</expression>
    </formulas>
    <interviewLabel>Contact Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>myRule_15_A1</name>
        <label>Follow Up Task</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>myRule_19</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_4_myRule_15_A1_4357914557</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>formula_5_myRule_15_A1_2839716193</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Survey NPS Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>myRule_12_A1</name>
        <label>[Contact] Award Owner</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>myRule_15</targetReference>
        </connector>
        <inputAssignments>
            <field>QSO_Award_Owner__c</field>
            <value>
                <elementReference>formula_3_myRule_12_A1_6530545388</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_19_A1</name>
        <label>Copy ERP Shipping to Mailing</label>
        <locationX>50</locationX>
        <locationY>1931</locationY>
        <connector>
            <targetReference>myRule_22</targetReference>
        </connector>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.ERP_Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>formula_6_myRule_19_A1_6160741546</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.ERP_Shipping_Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.ERP_Shipping_State_or_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.ERP_Shipping_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Owner Type Update</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>myRule_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Owner_Type__c</field>
            <value>
                <elementReference>$Record.Owner.User_Owner_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_22_A1</name>
        <label>Do Not Allow D&amp;B Match</label>
        <locationX>50</locationX>
        <locationY>2231</locationY>
        <connector>
            <targetReference>myRule_24</targetReference>
        </connector>
        <inputAssignments>
            <field>dnb_exclude_company__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_24_A1</name>
        <label>Set First Quote Owner</label>
        <locationX>50</locationX>
        <locationY>2531</locationY>
        <inputAssignments>
            <field>First_Quote_Owner_Role__c</field>
            <value>
                <elementReference>formula_7_myRule_24_A1_7488987670</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Quote_Owner__c</field>
            <value>
                <elementReference>formula_8_myRule_24_A1_4989679733</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_4_A1</name>
        <label>[Contact] Time Stamp QSO Quote</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>myRule_9</targetReference>
        </connector>
        <inputAssignments>
            <field>QSO_Quote_Date__c</field>
            <value>
                <elementReference>formula_1_myRule_4_A1_5571739758</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_9_A1</name>
        <label>[Contact] Time Stamp and Owner</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>myRule_12</targetReference>
        </connector>
        <inputAssignments>
            <field>QSO_Award_Date__c</field>
            <value>
                <elementReference>formula_2_myRule_9_A1_9147776366</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
