unpackaged/main/default/flows/CPC_Case_Omni_Routing_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Route_Case_to_CPC_Support</name>
        <label>Route Case to CPC Support</label>
        <locationX>1898</locationX>
        <locationY>974</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G3u000000sYNFEA2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>CPC Support</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9Dp0000008PyQKAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_Case_to_CPC_VIP_Queue</name>
        <label>Route Case to CPC VIP Queue</label>
        <locationX>1634</locationX>
        <locationY>974</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GDp000000to9AMAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>CPC VIP Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9Dp0000008PyQKAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_CPC_Enterprise_PO_Queue</name>
        <label>Route to CPC Enterprise PO Queue</label>
        <locationX>1106</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GDp0000016DjHMAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>CPC VIP PO Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9Dp0000008PyQKAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_CPC_House_User</name>
        <label>Route to CPC House User</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
            <value>
                <stringValue>Do not use CPC Team</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <stringValue>005Dp0000017XEGIA2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>CPC Support Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>Default_For_Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K9Dp0000008PSyKAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9Dp0000008PyQKAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_CPC_PO_Queue</name>
        <label>Route to CPC PO Queue</label>
        <locationX>1370</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GDp0000016DjIMAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>CPC PO Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9Dp0000008PyQKAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_CPC_RMA_Queue</name>
        <label>Route to CPC RMA Queue</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GDp0000016DjJMAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>CPC RMA Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9Dp0000008PyQKAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Input_VIP</name>
        <label>Assign Input VIP</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>input_record.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VIP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_to_DB</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Owned_by_Queue_or_Case_Manager</name>
        <label>Owned by Queue or Case Manager?</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Update_Initial_Queue_to_POD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owned by a POD Queue</defaultConnectorLabel>
        <rules>
            <name>Owned_by_Case_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCaseOwner</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <label>Owned by Case Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>VIP</name>
        <label>VIP?</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Which_Queue_to_Route_to</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VIP1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Account.AccountHierarchyTarget2023__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Input_VIP</targetReference>
            </connector>
            <label>VIP</label>
        </rules>
        <rules>
            <name>FoundByDomainMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountByDomainName.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.EmailDomainonIncomingEmail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>gmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.EmailDomainonIncomingEmail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>hotmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Generic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Input_VIP</targetReference>
            </connector>
            <label>FoundByDomainMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>VIP2</name>
        <label>VIP?</label>
        <locationX>1766</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update_Initial_Queue_to_CPC_Support</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VIP3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Initial_Queue_to_CPC_VIP_Queue</targetReference>
            </connector>
            <label>VIP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Queue_to_Route_to</name>
        <label>Which Queue to Route to?</label>
        <locationX>908</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>VIP2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CPC Support Queue</defaultConnectorLabel>
        <rules>
            <name>CPC_House_Auto_Close</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>input_record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Initial_Queue_to_CPC_House</targetReference>
            </connector>
            <label>CPC House (Auto-Close)</label>
        </rules>
        <rules>
            <name>Partner_Portal_Exit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>input_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CaseMgmt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Duplicate job alert!</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Owner</targetReference>
            </connector>
            <label>Partner Portal Exit</label>
        </rules>
        <rules>
            <name>CPC_RMA_Queue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Returns</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Returns</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RMACheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NCRCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NMACheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Corrective Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Corrective Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Non-Conformance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Non-Conformance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Shipping Damage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Shipping Damage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Nonconformance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Nonconformance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Nonconforming</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Nonconforming</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Out of spec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Out of spec</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Initial_Queue_to_CPC_RMA</targetReference>
            </connector>
            <label>CPC RMA Queue</label>
        </rules>
        <rules>
            <name>CPC_VIP_PO_Queue</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 21 OR 22 OR 23 OR 24 OR 29) AND (7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20 OR 25 OR 26 OR 27 OR 28) AND 30</conditionLogic>
            <conditions>
                <leftValueReference>input_record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@apple.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@spacex.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@llnl.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@NGC.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@bmwmc.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@Amazon.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Purchase Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Purchase Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Purchasing Requisition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Purchasing Requisition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Blanket Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Blanket Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Confirm orders through Ariba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Confirm orders through Ariba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PO/CO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PO/CO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Purchase Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Purchase Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>POCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@partners.apple.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@amazon.coupahost.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@bmw.de</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@partner.bmwgroup.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PO#</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PO#</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>P.O.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>P.O.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email: Work@</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Initial_Queue_to_CPC_Enterprise</targetReference>
            </connector>
            <label>CPC VIP PO Queue</label>
        </rules>
        <rules>
            <name>CPC_PO_Queue</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18) AND 19</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Purchase Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Purchase Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Purchasing Requisition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Purchasing Requistion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>POCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Blanket Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Blanket Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Confirm orders through Ariba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Confirm orders through Ariba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Purchase Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Purchase Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PO/CO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PO/CO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PO#</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PO#</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>P.O.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>P.O.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email: Work@</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Initial_Queue_to_CPC_PO</targetReference>
            </connector>
            <label>CPC PO Queue</label>
        </rules>
    </decisions>
    <description>Exclude work@ to PO queues.</description>
    <environments>Default</environments>
    <formulas>
        <name>CARCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!input_record.Description}, &apos; CAR &apos;)  || CONTAINS({!input_record.Subject}, &apos; CAR &apos;),true,false)</expression>
    </formulas>
    <formulas>
        <name>NCRCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!input_record.Description}, &apos;NCR &apos;) || CONTAINS({!input_record.Subject}, &apos;NCR &apos;)  ,true,false)</expression>
    </formulas>
    <formulas>
        <name>NMACheck</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!input_record.Description}, &apos;NMA &apos;) || CONTAINS({!input_record.Subject}, &apos;NMA &apos;) ,true,false)</expression>
    </formulas>
    <formulas>
        <name>POCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!input_record.Description}, &apos;PO &apos;) || CONTAINS({!input_record.Subject}, &apos;PO &apos;) ,true,false)</expression>
    </formulas>
    <formulas>
        <name>PRCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!input_record.Description}, &apos;PR &apos;) || CONTAINS({!input_record.Subject}, &apos;PR &apos;),true,false)</expression>
    </formulas>
    <formulas>
        <name>RMACheck</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!input_record.Description}, &apos;RMA &apos;) || CONTAINS({!input_record.Subject}, &apos;RMA &apos;) ,true,false)</expression>
    </formulas>
    <interviewLabel>CPC Case Omni Routing Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPC Case Omni Routing Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <description>This can be the POD Queue or Case Manager</description>
        <name>Get_Case_Owner</name>
        <label>Get Case Owner</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owned_by_Queue_or_Case_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CurrentCaseOwner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetAccountByDomainName</name>
        <label>GetAccountByDomainName</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TracHier__Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.EmailDomainonIncomingEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountHierarchyTarget2023__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_to_DB</name>
        <label>Save to DB</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Which_Queue_to_Route_to</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>VIP</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Initial_Queue_to_CPC_Enterprise</name>
        <label>Update Initial Queue to CPC Enterprise</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Route_to_CPC_Enterprise_PO_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Queue_Assignment__c</field>
            <value>
                <stringValue>CPC Enterprise PO Queue</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Initial_Queue_to_CPC_House</name>
        <label>Update Initial Queue to CPC House</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Route_to_CPC_House_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Queue_Assignment__c</field>
            <value>
                <stringValue>CPC House</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Initial_Queue_to_CPC_PO</name>
        <label>Update Initial Queue to CPC PO</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Route_to_CPC_PO_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Queue_Assignment__c</field>
            <value>
                <stringValue>CPC PO Queue</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Initial_Queue_to_CPC_RMA</name>
        <label>Update Initial Queue to CPC RMA</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Route_to_CPC_RMA_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Queue_Assignment__c</field>
            <value>
                <stringValue>CPC RMA Queue</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Initial_Queue_to_CPC_Support</name>
        <label>Update Initial Queue to CPC Support</label>
        <locationX>1898</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Route_Case_to_CPC_Support</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Queue_Assignment__c</field>
            <value>
                <stringValue>CPC Support Queue</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Initial_Queue_to_CPC_VIP_Queue</name>
        <label>Update Initial Queue to CPC VIP Queue</label>
        <locationX>1634</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Route_Case_to_CPC_VIP_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Queue_Assignment__c</field>
            <value>
                <stringValue>CPC VIP Queue</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Initial_Queue_to_POD</name>
        <label>Update Initial Queue to POD</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Queue_Assignment__c</field>
            <value>
                <stringValue>POD Queue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentCaseOwner</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccountByDomainName</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Holds the ID of the POD Queue or Case Manager that the Partner Portal Case should be assigned to</description>
        <name>CurrentCaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
