unpackaged/main/default/flows/Create_RMA_Line_Items_Job_screen_selected.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>addOrderPartRelated</name>
        <label>addOrderPartRelated</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>lstOrderedPartRelatedCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopRelatedLineItems.Ordered_Part_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRelatedLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addPendingPart</name>
        <label>addPendingPart</label>
        <locationX>138</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>lstPartsPending</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopJobOrderedPartsPending.OrderedPartId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopJobOrderedPartsPending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignJobId</name>
        <label>asignJobId</label>
        <locationX>138</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>jobRelated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JobTable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getJobOrderParts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getOrderedPartsRelated</name>
        <label>getOrderedPartsRelated</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>lstParsRelated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopRelatedLineItems.Ordered_Part_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobRelated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopRelatedLineItems.Job_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addOrderPartRelated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>validateHasJob</name>
        <label>validateHasJob</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>getJobs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasJob</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstParsRelated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getJobOrderParts</targetReference>
            </connector>
            <label>hasJob</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateRMAOrder</name>
        <label>validateRMAOrder</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>addOrderPartRelated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isRMACurrentRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopRelatedLineItems.RMA_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOrderedPartsRelated</targetReference>
            </connector>
            <label>isRMACurrentRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>validePermissionCreateLineItem</name>
        <label>validePermissionCreateLineItem</label>
        <locationX>290</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>notAddMoreLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>diffRMACreatedDate_now</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopRelatedLineItems</targetReference>
            </connector>
            <label>isValid</label>
        </rules>
    </decisions>
    <decisions>
        <name>valideQuantityExpected</name>
        <label>valideQuantityExpected</label>
        <locationX>226</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <targetReference>errorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isLess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity_Expected</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>loopSelectedTableRecords.QuantityOrdered__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLineItem</targetReference>
            </connector>
            <label>isLess</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>lstCustomerRequest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Customer_Request__c</picklistField>
        <picklistObject>Return_Order_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>lstDefectorigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Defect_origin__c</picklistField>
        <picklistObject>Return_Order_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>lstReasonForReturn</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonReturn__c</picklistField>
        <picklistObject>Return_Order_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>diffRMACreatedDate_now</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDateTime} - {!getRMARecord.CreatedDate}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create RMA Line Items (Job screen selected) {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Create RMA Line Items</label>
    <loops>
        <name>loopJobOrderedPartsPending</name>
        <label>loopJobOrderedPartsPending</label>
        <locationX>50</locationX>
        <locationY>1886</locationY>
        <collectionReference>getJobOrderParts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addPendingPart</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getOrderedParts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopRelatedLineItems</name>
        <label>loopRelatedLineItems</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>getRelatedLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>validateRMAOrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>validateHasJob</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopSelectedTableRecords</name>
        <label>loopSelectedTableRecords</label>
        <locationX>50</locationX>
        <locationY>2462</locationY>
        <collectionReference>orderedPartsTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>lineItemForm</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>successMessage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createLineItem</name>
        <label>createLineItem</label>
        <locationX>226</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>scSuccessMsg</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>getRMARecord.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Request__c</field>
            <value>
                <elementReference>CustomerRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Id__c</field>
            <value>
                <elementReference>jobRelated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ops_Order__c</field>
            <value>
                <elementReference>getRMARecord.Order_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ordered_Part_Id__c</field>
            <value>
                <elementReference>loopSelectedTableRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Expected__c</field>
            <value>
                <elementReference>Quantity_Expected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RMA_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonReturn__c</field>
            <value>
                <elementReference>ReasonReturn</elementReference>
            </value>
        </inputAssignments>
        <object>Return_Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getJobOrderParts</name>
        <label>getJobOrderParts</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopJobOrderedPartsPending</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JobId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobRelated</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderedPartId__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>lstParsRelated</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobOrderedPart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getJobs</name>
        <label>getJobs</label>
        <locationX>138</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>jobsTable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRMARecord.Order_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrderedParts</name>
        <label>getOrderedParts</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>selectParts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>lstPartsPending</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>lstOrderedPartRelatedCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ordered_Part__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedLineItems</name>
        <label>getRelatedLineItems</label>
        <locationX>290</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validePermissionCreateLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRMARecord.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Return_Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRMARecord</name>
        <label>getRMARecord</label>
        <locationX>290</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RMA_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>errorMessage</name>
        <label>errorMessage</label>
        <locationX>578</locationX>
        <locationY>3158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_errorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(238, 12, 12);&quot;&gt;An error occurred creating the records, contact the system administrator&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorMsg</name>
        <label>errorMsg</label>
        <locationX>314</locationX>
        <locationY>2822</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createLineItem</targetReference>
        </connector>
        <fields>
            <name>errorQuantity</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: rgb(247, 22, 22);&quot;&gt;The expected quantity cannot exceed the ordered quantity of the ordered part&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>jobsTable</name>
        <label>jobsTable</label>
        <locationX>138</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asignJobId</targetReference>
        </connector>
        <fields>
            <name>JobTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Job__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getJobs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4cf0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Job ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SupplierName__c&quot;,&quot;guid&quot;:&quot;column-d5b9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Supplier&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Supplier Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Processes__c&quot;,&quot;guid&quot;:&quot;column-8f4e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Processes&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Stage__c&quot;,&quot;guid&quot;:&quot;column-4555&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>lineItemForm</name>
        <label>lineItemForm</label>
        <locationX>226</locationX>
        <locationY>2582</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>valideQuantityExpected</targetReference>
        </connector>
        <fields>
            <name>partNamelbl</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!loopSelectedTableRecords.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quantity_Expected</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>loopSelectedTableRecords.QuantityOrdered__c</elementReference>
            </defaultValue>
            <fieldText>Quantity Expected</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ReasonReturn</name>
            <choiceReferences>lstReasonForReturn</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason For Return</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CustomerRequest</name>
            <choiceReferences>lstCustomerRequest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer Request</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>notAddMoreLineItem</name>
        <label>notAddMoreLineItem</label>
        <locationX>530</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>notAddMoreLineItemMsg</name>
            <fieldText>&lt;p&gt;The time limit for adding Return Line Item has been exceeded&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scSuccessMsg</name>
        <label>scSuccessMsg</label>
        <locationX>226</locationX>
        <locationY>3158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loopSelectedTableRecords</targetReference>
        </connector>
        <fields>
            <name>sucessRecordCreated</name>
            <fieldText>&lt;p&gt;Return Line Item created successfully!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>selectParts</name>
        <label>selectParts</label>
        <locationX>50</locationX>
        <locationY>2342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loopSelectedTableRecords</targetReference>
        </connector>
        <fields>
            <name>orderedPartsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Ordered_Part__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ordered Parts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getOrderedParts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;CustomerPartID__c&quot;,&quot;guid&quot;:&quot;column-fd55&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Customer Part ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d14a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Xometry Ordered Part ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;QuantityOrdered__c&quot;,&quot;guid&quot;:&quot;column-3799&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity Ordered&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;PartStatus__c&quot;,&quot;guid&quot;:&quot;column-ece6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Part Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>successMessage</name>
        <label>successMessage</label>
        <locationX>50</locationX>
        <locationY>3518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>succesMsg</name>
            <fieldText>&lt;p&gt;All the records were created successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>164</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRMARecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ordered_Part__c</objectType>
    </variables>
    <variables>
        <name>diffHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>jobRelated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lineItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Return_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>lstNewRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Return_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>lstOrderedPartRelatedCase</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstParsRelated</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstPartsPending</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
