unpackaged/main/default/flows/House_Reassign_Daily_Batch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>New_Projects</name>
        <label>New Projects?</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <defaultConnectorLabel>New: Don&apos;t Reassign</defaultConnectorLabel>
        <rules>
            <name>Old_Reassign</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Proj_CD.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>SevenDaysAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Proj_CD.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetHouseUser</targetReference>
            </connector>
            <label>Old: Reassign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Projects</name>
        <label>Open Projects?</label>
        <locationX>94</locationX>
        <locationY>636</locationY>
        <defaultConnectorLabel>Open/LAD: Don&apos;t Reassign</defaultConnectorLabel>
        <rules>
            <name>No_Open_Reassign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Proj_LAD.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetHouseUser</targetReference>
            </connector>
            <label>No Open: Reassign</label>
        </rules>
        <rules>
            <name>Open_No_LAD_Continue</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Proj_LAD.Primary_Contact_Last_Activity_Date_AM__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>SevenDaysAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Proj_LAD.Primary_Contact_Last_Activity_Date_AM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Proj_LAD.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>SevenDaysAgo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpenProjects_Created</targetReference>
            </connector>
            <label>Open/No LAD: Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pending_Projects</name>
        <label>Pending Projects?</label>
        <locationX>380</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Pend: Don&apos;t Reassign</defaultConnectorLabel>
        <rules>
            <name>No_Pend_Continue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Proj_Pend.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpenProjects_LAD</targetReference>
            </connector>
            <label>No Pend: Continue</label>
        </rules>
    </decisions>
    <description>Reassigns House Accounts and Generic Accounts to the House Pool
!TESTING - Test Account Debugging!</description>
    <formulas>
        <name>SevenDaysAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 7</expression>
    </formulas>
    <interviewLabel>House Reassign - Daily Batch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Success Team Reassign - Daily Batch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetHouseUser</name>
        <label>GetHouseUser</label>
        <locationX>94</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReassignToHouse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpenProjects_Created</name>
        <label>GetOpenProjects_Created</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Top_Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending Payment</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <outputReference>Proj_CD</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>AccountId__c</queriedFields>
        <queriedFields>Top_Account_Id__c</queriedFields>
        <queriedFields>Top_Account_Owner__c</queriedFields>
        <queriedFields>Primary_Contact_Last_Activity_Date_AM__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetOpenProjects_LAD</name>
        <label>GetOpenProjects_LAD</label>
        <locationX>94</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Top_Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending Payment</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <outputReference>Proj_LAD</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Contact_Last_Activity_Date_AM__c</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>AccountId__c</queriedFields>
        <queriedFields>Top_Account_Id__c</queriedFields>
        <queriedFields>Top_Account_Owner__c</queriedFields>
        <sortField>Primary_Contact_Last_Activity_Date_AM__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetOpenProjects_Pending</name>
        <label>GetOpenProjects_Pending</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pending_Projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Top_Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Payment</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <outputReference>Proj_Pend</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Contact_Last_Activity_Date_AM__c</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>AccountId__c</queriedFields>
        <queriedFields>Top_Account_Id__c</queriedFields>
        <queriedFields>Top_Account_Owner__c</queriedFields>
        <sortField>Primary_Contact_Last_Activity_Date_AM__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>ReassignToHouse</name>
        <label>ReassignToHouse</label>
        <locationX>94</locationX>
        <locationY>1428</locationY>
        <inputAssignments>
            <field>Batch_Reassign__c</field>
            <value>
                <elementReference>GetHouseUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpenProjects_Pending</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Owner_ID_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Success Team</stringValue>
            </value>
        </filters>
        <filters>
            <field>Success_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0013u0000131Xs6AAE</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-08-31</startDate>
            <startTime>01:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Proj_CD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>Proj_LAD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>Proj_Pend</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
</Flow>
