unpackaged/main/default/flows/Lead_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Task_Data</name>
        <label>Set Task Data</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tomorrow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignedToID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey NPS Follow Up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Survey_Generated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Follow_Up_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>change_Status</name>
        <label>change Status</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Out_of_Business</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>changeStatus</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLeadCurrentStatus</targetReference>
            </connector>
            <label>changeStatus</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_Shipping_Address</name>
        <label>Copy Shipping Address</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>D_B_Exempt_from_Match</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CopyShippingAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Shipping_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Shipping_City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Shipping_State_or_Province__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Shipping_Zip_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERP_Shipping_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLeadAddress</targetReference>
            </connector>
            <label>CopyShippingAddress</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_B_Exempt_from_Match</name>
        <label>D&amp;B Exempt from Match</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>change_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>D_B_ExemptFromMatch</name>
            <conditionLogic>(1 OR 2) AND 5 AND (3 AND 4 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Generic_FLAG__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DNBConnect__D_B_Connect_Company_Profile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DNBConnect__D_B_Connect_Contact_Profile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Generic_FLAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dnb_exclude_company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoNotAllowD_B</targetReference>
            </connector>
            <label>D&amp;B_ExemptFromMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Out_of_Business</name>
        <label>Out of Business</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>System_Reopened</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>1 AND (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Out_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DNBConnect__D_B_Connect_Company_Profile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DNBConnect__D_B_Connect_Company_Profile__r.dunsCntrStat_opeRtngSubStatus_Descr__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out of business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Out_of_Business1</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Survey_Follow_Up</name>
        <label>Survey Follow Up</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Copy_Shipping_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SurveyFollowUp</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (NOT 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NPS__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NPS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NPS__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Data</targetReference>
            </connector>
            <label>SurveyFollowUp</label>
        </rules>
    </decisions>
    <decisions>
        <name>System_Reopened</name>
        <label>System Reopened</label>
        <locationX>182</locationX>
        <locationY>1931</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SystemReopened</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Not Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_of_Last_Quote__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HS_Design_Guide_Processes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLeadStatusNew</targetReference>
            </connector>
            <label>SystemReopened</label>
        </rules>
    </decisions>
    <description>Added DnB Connect fields</description>
    <environments>Default</environments>
    <formulas>
        <name>AssignedToID</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!$Record.OwnerId},&quot;00G&quot;),&quot;0056A000002S1sMQAS&quot;,{!$Record.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>leadCountry</name>
        <dataType>String</dataType>
        <expression>IF(
 ISPICKVAL({!$Record.ERP_Shipping_Country__c},&quot;&quot;),
 {!$Record.Country},
 TEXT({!$Record.ERP_Shipping_Country__c})
)</expression>
    </formulas>
    <formulas>
        <name>taskDescription</name>
        <dataType>String</dataType>
        <expression>&quot;How likely is it that you would recommend Xometry to a friend or colleague?&quot; &amp; BR() &amp;
TEXT({!$Record.NPS__c}) &amp; BR() &amp;
BR() &amp;

IF(ISBLANK({!$Record.Requested_Changes__c}),&quot;&quot;,&quot;What changes would Xometry have to make to earn more of your business?&quot; &amp; BR() &amp;
{!$Record.Requested_Changes__c} &amp; BR() &amp;
BR()) &amp;

IF(ISBLANK({!$Record.Strengths__c}),&quot;&quot;,&quot;What does Xometry do really well?&quot; &amp; BR() &amp;
{!$Record.Strengths__c} &amp; BR() &amp;
BR()) &amp;

IF(ISPICKVAL({!$Record.Use_Xometry__c},&quot;&quot;),&quot;&quot;,&quot;What percentage of the time do you use Xometry vs. another supplier for custom manufacturing?&quot; &amp; BR() &amp;
TEXT({!$Record.Use_Xometry__c}) &amp; BR() &amp;
BR()) &amp;

&quot;For more information, paste this into the search bar in Slack:&quot; &amp; BR() &amp;
{!$Record.Email} &amp; &quot; in:#customer_feedback&quot; &amp; BR() &amp;
BR() &amp;

&quot;Or see the Customer_Feedback channel in Slack:&quot; &amp; BR() &amp;
&quot;https://app.slack.com/client/T0DM6AE3T/CHYU7ELAZ&quot;</expression>
    </formulas>
    <formulas>
        <name>tomorrow</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <interviewLabel>Lead flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Follow_Up_Task</name>
        <label>Follow Up Task</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Copy_Shipping_Address</targetReference>
        </connector>
        <inputReference>taskRecord</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>DoNotAllowD_B</name>
        <label>DoNotAllowD&amp;B</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>change_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>dnb_exclude_company__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Out_of_Business1</name>
        <label>Out of Business</label>
        <locationX>50</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>System_Reopened</targetReference>
        </connector>
        <inputAssignments>
            <field>Out_of_Business__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeadAddress</name>
        <label>UpdateLeadAddress</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>D_B_Exempt_from_Match</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.ERP_Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>leadCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.ERP_Shipping_Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.ERP_Shipping_State_or_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.ERP_Shipping_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeadCurrentStatus</name>
        <label>UpdateLeadCurrentStatus</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Out_of_Business</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Status_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeadStatusNew</name>
        <label>UpdateLeadStatusNew</label>
        <locationX>50</locationX>
        <locationY>2039</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Uncontacted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Survey_Follow_Up</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>taskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
