unpackaged/main/default/flows/Lead_Ultimate_Created_By_User_Role_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>IsConverted</name>
        <label>IsConverted</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ConvertedContact</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <description>1/day stamp new leads with the created by user&apos;s role at the time.  Used to help identify which leads/contacts were ultimately created by sales.</description>
    <environments>Default</environments>
    <interviewLabel>Lead Ultimate Created By User Role Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Ultimate Created By User Role Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_ConvertedContact</name>
        <label>Update ConvertedContact</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Generated_by_Sales__c</field>
            <value>
                <elementReference>$Record.Generated_by_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ultimate_Created_By_Role__c</field>
            <value>
                <elementReference>$Record.Ultimate_Created_By_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ultimate_Created_By__c</field>
            <value>
                <elementReference>$Record.Ultimate_Created_By_Text__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates lead</description>
        <name>Update_Lead_with_Ultimate_created_by_User_Role</name>
        <label>Update Lead with Ultimate created by User Role</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>IsConverted</targetReference>
        </connector>
        <inputAssignments>
            <field>Ultimate_Created_By_Role__c</field>
            <value>
                <elementReference>$Record.Ultimate_Created_By__r.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Lead_with_Ultimate_created_by_User_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ultimate_Created_By_Role__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2022-12-31T05:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-01-10</startDate>
            <startTime>21:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varcountleads</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varnumberofleads</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
