unpackaged/main/default/flows/Manually_Push_to_Sales_Pool_from_List_View.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Account_to_Collection</name>
        <label>Add Account to Collection</label>
        <locationX>270</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>AccountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Enterprise_Pool</name>
        <label>Assign to Enterprise Pool</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005PY000001WmSLYA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Manually_Pushed_to_Pool__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Inbound_Pool</name>
        <label>Assign to Inbound Pool</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005Ou000002khGvIAI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Manually_Pushed_to_Pool__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Ids</name>
        <label>Count of Ids</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>CountofIds</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ids_List_Size</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ids_List_Size</name>
        <label>Ids List Size</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Fail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More than 30 (Fail)</defaultConnectorLabel>
        <rules>
            <name>Less_Than_30_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofIds</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Account_Ids</targetReference>
            </connector>
            <label>Less Than 30 (Continue)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Pool</name>
        <label>Which Pool?</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Inbound_Pool</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enterprise_Pool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Company_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Enterprise_Pool</targetReference>
            </connector>
            <label>Enterprise Pool</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Manually Push to Sales Pool from List View {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manually Push to Sales Pool from List View</label>
    <loops>
        <name>Loop_Account_Ids</name>
        <label>Loop Account Ids</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Pool</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Account_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Accounts</name>
        <label>Update All Accounts</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <inputReference>AccountsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Fail</name>
        <label>Fail</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CannotProcess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Salesforce cannot process more than 30 Accounts at once. Please press &quot;Finish&quot; and choose fewer Accounts.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Count_of_Ids</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CountofIds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
