unpackaged/main/default/flows/Multi_Child_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignToCPCQueue</name>
        <label>AssignToCPCQueue</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCMOwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPCQueueSelector</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CPC_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToQueue</name>
        <label>AssignToQueue</label>
        <locationX>490</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>NewCMOwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Queue_Selector</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CMCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AssignToQueue</name>
        <label>Copy 1 of AssignToQueue</label>
        <locationX>1194</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCMOwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDFMQueueID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DFMCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_SetIndividual</name>
        <label>SetIndividual</label>
        <locationX>1546</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>NewCMOwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPCAgentName.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_IfAssignToCaseManager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_SetIndividual</name>
        <label>Copy 1 of SetIndividual</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>NewCMOwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DFM_Engineer_Selector.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_IfAssignToCaseManager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Null</name>
        <label>Set Null</label>
        <locationX>1810</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>NewCMOwnerID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Case_Creation_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetIndividual</name>
        <label>SetIndividual</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>NewCMOwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseManagerSelector2.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IfAssignToCaseManager</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Account_Payable</name>
        <choiceText>Account Payable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Payable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Receivable</name>
        <choiceText>Account Receivable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Receivable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Accounting_Team_Case</name>
        <choiceText>Accounting Team Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounting Team Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Albatrosses</name>
        <choiceText>Albatrosses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Albatrosses</stringValue>
        </value>
    </choices>
    <choices>
        <name>Amazing</name>
        <choiceText>Amazing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amazing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Atomic_Rocks</name>
        <choiceText>Atomic Rocks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Atomic Rocks</stringValue>
        </value>
    </choices>
    <choices>
        <name>Automotive</name>
        <choiceText>Automotive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Automotive</stringValue>
        </value>
    </choices>
    <choices>
        <name>Case_Management_Case</name>
        <choiceText>Case Management Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Management Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>CPC_PO_Queue</name>
        <choiceText>CPC PO Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CPC PO Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>CPC_RMA_Queue</name>
        <choiceText>CPC RMA Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CPC RMA Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>CPC_Support</name>
        <choiceText>CPC Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CPC Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>CPC_VIP_PO_Queue</name>
        <choiceText>CPC VIP PO Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CPC VIP PO Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>CPC_VIP_Queue</name>
        <choiceText>CPC VIP Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CPC VIP Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>DFM_Case</name>
        <choiceText>DFM Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DFM Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>First_Impressions</name>
        <choiceText>First Impressions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	First Impressions</stringValue>
        </value>
    </choices>
    <choices>
        <name>IM_Reorder_Queue</name>
        <choiceText>IM Reorder Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IM Reorder Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Impodsters</name>
        <choiceText>Impodsters</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Impodsters</stringValue>
        </value>
    </choices>
    <choices>
        <name>Material_Quoting_Case</name>
        <choiceText>Material Quoting Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Material Quoting Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Molding_Parts_Reorder</name>
        <choiceText>Molding Parts Reorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Molding Parts Reorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quoting_Case</name>
        <choiceText>Quoting Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quoting Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rocket_Power</name>
        <choiceText>Rocket Power</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rocket Power</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping</name>
        <choiceText>Shipping</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping_Problem</name>
        <choiceText>Shipping Problem</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping Problem</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping_Rates</name>
        <choiceText>Shipping Rates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping Rates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping_Team</name>
        <choiceText>Shipping Team</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping Team</stringValue>
        </value>
    </choices>
    <choices>
        <name>SpaceTechs</name>
        <choiceText>SpaceTechs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SpaceTechs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Triple_Threat</name>
        <choiceText>Triple Threat</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Triple Threat</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>CPC_Queues</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>CPC Queues</label>
        <locationX>1810</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_CPC_Queues</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetCaseQueues</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_CPC_Queues.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>CPC_PO_Queue</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_CPC_Queues.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>CPC_RMA_Queue</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_CPC_Queues.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>CPC_Support</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_CPC_Queues.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>CPC_Enterprise_PO_Queue</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_CPC_Queues.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>CPC_VIP_Queue</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>New_Child_Case_s</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>POD_Queues</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>POD Queues</label>
        <locationX>1810</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>currentItem_POD_Queues</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetCaseQueues</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_POD_Queues.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Additive</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_POD_Queues.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Atomic_Rocks</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_POD_Queues.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Automotive</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_POD_Queues.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>First_Impressions</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_POD_Queues.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Impodsters</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_POD_Queues.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Rocket</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_POD_Queues.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>SpaceTechs</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_POD_Queues.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Triple_Threat</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>CPC_Queues</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>AR_OR_AP</name>
        <label>AR OR AP</label>
        <locationX>2162</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Set_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Receivable</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_AR_Case</targetReference>
            </connector>
            <label>AR</label>
        </rules>
        <rules>
            <name>AP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Payable</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAPCase</targetReference>
            </connector>
            <label>AP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Creation_Branches</name>
        <label>Case Creation Branches</label>
        <locationX>1810</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quoting_Case</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPSERecordTypeID</targetReference>
            </connector>
            <label>PSE</label>
        </rules>
        <rules>
            <name>Case_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Management_Case</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCMRecordTypeID</targetReference>
            </connector>
            <label>Case Management</label>
        </rules>
        <rules>
            <name>Material_Quoting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Material_Quoting_Case</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSellerMarketplaceRecordTypeID</targetReference>
            </connector>
            <label>Material Quoting</label>
        </rules>
        <rules>
            <name>DFM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DFM_Case</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDFMRecordTypeID</targetReference>
            </connector>
            <label>DFM</label>
        </rules>
        <rules>
            <name>CPCSupport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CPC_Support</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetGeneralSupportRecordTypeID</targetReference>
            </connector>
            <label>CPC Support</label>
        </rules>
        <rules>
            <name>AccountingTeamCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accounting_Team_Case</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetGeneralSupportRecordTypeID2</targetReference>
            </connector>
            <label>Accounting Team Case</label>
        </rules>
        <rules>
            <name>Molding_Reorder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Molding_Parts_Reorder</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_GetCMRecordTypeID</targetReference>
            </connector>
            <label>Molding Reorder</label>
        </rules>
        <rules>
            <name>Shipping_Problem_Branch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shipping_Team</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_GetCMRecordTypeID</targetReference>
            </connector>
            <label>Shipping Problem Branch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_IfAssignToCaseManager</name>
        <label>Copy 1 of Copy 1 of IfAssignToCaseManager</label>
        <locationX>1546</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>AssignToCPCQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPCAgent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCMOwnerID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPC_Case</targetReference>
            </connector>
            <label>CPC Agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_IfAssignToCaseManager</name>
        <label>Copy 1 of IfAssignToCaseManager</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_AssignToQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DFMEngineer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCMOwnerID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DFMCase</targetReference>
            </connector>
            <label>DFM Engineer</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfAssignToCaseManager</name>
        <label>IfAssignToCaseManager</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>AssignToQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCMOwnerID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMCase</targetReference>
            </connector>
            <label>Case Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_Rates_Problem</name>
        <label>Shipping Rates/Problem</label>
        <locationX>3130</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Set_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ShippingRates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shipping_Rates</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Shipping_Rates_Case</targetReference>
            </connector>
            <label>ShippingRates</label>
        </rules>
        <rules>
            <name>ShippingProblem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shipping_Problem</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Shipping_Problem_Case</targetReference>
            </connector>
            <label>ShippingProblem</label>
        </rules>
    </decisions>
    <description>Integrate Shipping</description>
    <dynamicChoiceSets>
        <name>CaseManagerSelector</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Role_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CM</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CPCAgents</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Role_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CPC</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CPCQueues</name>
        <collectionReference>CPC_Queues</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Group</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DFMName</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Role_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>DFM</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QueueSelectorChoiceSet</name>
        <collectionReference>POD_Queues</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Group</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Multi-Child Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Child Cases Selector</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CMCase</name>
        <label>CM Case</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Set_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildCaseResponseBy__c</field>
            <value>
                <elementReference>ChildCaseDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCaseDescripiton</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GNOOrder__c</field>
            <value>
                <elementReference>OrderLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>JobLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Screenflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>NewCMOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCMRecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!GetCurrentCaseRecord.Subject} + Case Management Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>GetCurrentCaseRecord.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CPC_Case</name>
        <label>CPC Case</label>
        <locationX>1546</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Set_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildCaseResponseBy__c</field>
            <value>
                <elementReference>ChildCaseDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCaseDescripiton</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GNOOrder__c</field>
            <value>
                <elementReference>OrderLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>JobLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Screenflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>NewCMOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetGeneralSupportRecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!GetCurrentCaseRecord.Subject} + CPC Support Child Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>GetCurrentCaseRecord.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_AR_Case</name>
        <label>Create AR Case</label>
        <locationX>1898</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Set_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildCaseResponseBy__c</field>
            <value>
                <elementReference>ChildCaseDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCaseDescripiton</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GNOOrder__c</field>
            <value>
                <elementReference>OrderLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>JobLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Screenflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetARQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetGeneralSupportRecordTypeID2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!GetCurrentCaseRecord.Subject} + Accounting Receivable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>GetCurrentCaseRecord.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Shipping_Problem_Case</name>
        <label>Create Shipping Problem Case</label>
        <locationX>3130</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Set_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildCaseResponseBy__c</field>
            <value>
                <elementReference>ChildCaseDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCaseDescripiton</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GNOOrder__c</field>
            <value>
                <elementReference>OrderLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>JobLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Screenflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetShippingProblemQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_GetCMRecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!GetCurrentCaseRecord.Subject} + Shipping Problem Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>GetCurrentCaseRecord.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Shipping_Rates_Case</name>
        <label>Create Shipping Rates Case</label>
        <locationX>2866</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Set_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildCaseResponseBy__c</field>
            <value>
                <elementReference>ChildCaseDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCaseDescripiton</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GNOOrder__c</field>
            <value>
                <elementReference>OrderLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>JobLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Screenflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetShippingRatesQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_GetCMRecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!GetCurrentCaseRecord.Subject} + Shipping Rates Problem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>GetCurrentCaseRecord.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateAPCase</name>
        <label>CreateAPCase</label>
        <locationX>2162</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Set_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildCaseResponseBy__c</field>
            <value>
                <elementReference>ChildCaseDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCaseDescripiton</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GNOOrder__c</field>
            <value>
                <elementReference>OrderLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>JobLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Screenflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetAPQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetGeneralSupportRecordTypeID2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!GetCurrentCaseRecord.Subject} + Account Payable Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>GetCurrentCaseRecord.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DFMCase</name>
        <label>DFM Case</label>
        <locationX>1106</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Set_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildCaseResponseBy__c</field>
            <value>
                <elementReference>ChildCaseDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCaseDescripiton</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GNOOrder__c</field>
            <value>
                <elementReference>OrderLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>JobLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Screenflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>NewCMOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetDFMRecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!GetCurrentCaseRecord.Subject} + DFM Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>GetCurrentCaseRecord.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>MoldingReorderCase</name>
        <label>Molding Reorder Case</label>
        <locationX>2602</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Set_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildCaseResponseBy__c</field>
            <value>
                <elementReference>ChildCaseDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCaseDescripiton</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GNOOrder__c</field>
            <value>
                <elementReference>OrderLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>JobLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Screenflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>MoldingPartsReorder_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Copy_1_of_GetCMRecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!GetCurrentCaseRecord.Subject} + Molding Reorder Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>GetCurrentCaseRecord.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PSE_Case</name>
        <label>PSE Case</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Set_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildCaseResponseBy__c</field>
            <value>
                <elementReference>ChildCaseDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCaseDescripiton</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GNOOrder__c</field>
            <value>
                <elementReference>OrderLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>JobLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Screenflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetPSEQueueID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetPSERecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!GetCurrentCaseRecord.Subject} + Manual Quoting Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>GetCurrentCaseRecord.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SupplyCase</name>
        <label>Supply Case</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Set_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildCaseResponseBy__c</field>
            <value>
                <elementReference>ChildCaseDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCaseDescripiton</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GNOOrder__c</field>
            <value>
                <elementReference>OrderLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>JobLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Screenflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetSupplyQueueID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetCurrentCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetSellerMarketplaceRecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!GetCurrentCaseRecord.Subject} + Supply Quoting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>GetCurrentCaseRecord.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Copy_1_of_GetCMRecordTypeID</name>
        <label>Copy 1 of Copy 1 of GetCMRecordTypeID</label>
        <locationX>3130</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetShippingRatesQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CaseMgmt</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_GetCMRecordTypeID</name>
        <label>Copy 1 of GetCMRecordTypeID</label>
        <locationX>2602</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MoldingPartsReorder_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CaseMgmt</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAPQueue</name>
        <label>GetAPQueue</label>
        <locationX>2162</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetARQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accounts_Payable</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetARQueue</name>
        <label>GetARQueue</label>
        <locationX>2162</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AR_OR_AP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accounts_Receivable</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseQueues</name>
        <label>GetCaseQueues</label>
        <locationX>1810</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>POD_Queues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCMRecordTypeID</name>
        <label>GetCMRecordTypeID</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetIndividual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CaseMgmt</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCPCSupportQueueID</name>
        <label>GetCPCSupportQueueID</label>
        <locationX>1546</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_SetIndividual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPC_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentCaseRecord</name>
        <label>GetCurrentCaseRecord</label>
        <locationX>1810</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseQueues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDFMQueueID</name>
        <label>GetDFMQueueID</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_SetIndividual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DFM_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDFMRecordTypeID</name>
        <label>GetDFMRecordTypeID</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDFMQueueID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DFM_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGeneralSupportRecordTypeID</name>
        <label>GetGeneralSupportRecordTypeID</label>
        <locationX>1546</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCPCSupportQueueID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GeneralSupportCase</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGeneralSupportRecordTypeID2</name>
        <label>GetGeneralSupportRecordTypeID</label>
        <locationX>2162</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAPQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GeneralSupportCase</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPSEQueueID</name>
        <label>GetPSEQueueID</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PSE_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre_Sales_Engineering_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPSERecordTypeID</name>
        <label>GetPSERecordTypeID</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPSEQueueID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PSE_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSellerMarketplaceRecordTypeID</name>
        <label>GetSellerMarketplaceRecordTypeID</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSupplyQueueID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SellerMarketplace</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetShippingProblemQueue</name>
        <label>GetShippingProblemQueue</label>
        <locationX>3130</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shipping_Rates_Problem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shipping_Problems</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetShippingRatesQueue</name>
        <label>GetShippingRatesQueue</label>
        <locationX>3130</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetShippingProblemQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shipping_Rates</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSupplyQueueID</name>
        <label>GetSupplyQueueID</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SupplyCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MarketplaceECommerceQueue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MoldingPartsReorder_Queue</name>
        <label>MoldingPartsReorder Queue</label>
        <locationX>2602</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MoldingReorderCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MoldingPartsReorder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Creation_Confirmation</name>
        <label>Case Creation Confirmation</label>
        <locationX>1810</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(7, 131, 1);&quot;&gt;{!$Label.FlowStyles_Notification_Success}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Child Case Created. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Child_Case_s</name>
        <label>New Child Case(s)</label>
        <locationX>1810</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Creation_Branches</targetReference>
        </connector>
        <fields>
            <name>Child_Case_Selector</name>
            <choiceReferences>Quoting_Case</choiceReferences>
            <choiceReferences>DFM_Case</choiceReferences>
            <choiceReferences>Case_Management_Case</choiceReferences>
            <choiceReferences>Material_Quoting_Case</choiceReferences>
            <choiceReferences>CPC_Support</choiceReferences>
            <choiceReferences>Accounting_Team_Case</choiceReferences>
            <choiceReferences>Molding_Parts_Reorder</choiceReferences>
            <choiceReferences>Shipping_Team</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Child Case Selector</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Queue_Selector</name>
            <choiceReferences>QueueSelectorChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Queue Selector</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Child_Case_Selector</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Case_Management_Case</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CPCQueueSelector</name>
            <choiceReferences>CPCQueues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CPC Queue Selector</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CPC_Support</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CaseManagerSelector2</name>
            <choiceReferences>CaseManagerSelector</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Case Manager</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Type Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Child_Case_Selector</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Case_Management_Case</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DFM_Engineer_Selector</name>
            <choiceReferences>DFMName</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>DFM Engineer Selector</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Type A Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DFM_Case</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CPCAgentName</name>
            <choiceReferences>CPCAgents</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>CPC Agent Name</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Type a Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CPC_Support</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Account_Payable_or_Account_Receivable</name>
            <choiceReferences>Account_Payable</choiceReferences>
            <choiceReferences>Account_Receivable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Payable or Account Receivable</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Accounting_Team_Case</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Shipping_Rates_or_Shipping_Problem</name>
            <choiceReferences>Shipping_Rates</choiceReferences>
            <choiceReferences>Shipping_Problem</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Shipping Rates or Shipping Problem?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Shipping_Team</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Child_Case_s_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Child_Case_s_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrderLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GNOOrder__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Order Lookup</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>GetCurrentCaseRecord.GNOOrder__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Child_Case_s_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>JobLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Job__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Job Lookup</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>GetCurrentCaseRecord.Job__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Why_this_Child_Case_Created</name>
            <dataType>String</dataType>
            <fieldText>Why this Child Case Created?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>List_Action_Items</name>
            <fieldText>List Action Items:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ChildCaseDueDate</name>
            <dataType>DateTime</dataType>
            <fieldText>Partner/Customer Expect a Response By:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_should_be_done_after_the_action_item_s_are_complete_e_g_close_the_case_tran</name>
            <fieldText>What should be done after the action item(s) are complete (e.g. close the case, transfer back to assignee, etc.)?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1684</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentCaseRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NewCaseDescripiton</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>1.Why was this case transferred: {!Why_this_Child_Case_Created}

2. What are the action items? {!List_Action_Items}

3.Child Case Due Date:{!ChildCaseDueDate}

4.What should be done after the action item(s) are complete (e.g. close the case, transfer back to assignee, etc.): {!What_should_be_done_after_the_action_item_s_are_complete_e_g_close_the_case_tran}

Old Case Description: {!GetCurrentCaseRecord.Description}</text>
    </textTemplates>
    <variables>
        <name>CaseTypeSelected</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_CPC_Queues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>currentItem_POD_Queues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>NewCMOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TempCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
