unpackaged/main/default/flows/NAICS_2_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Account_NAICS_Needs_Populated_or_Updated</name>
        <label>Account NAICS Needs Populated or Updated</label>
        <locationX>611</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Does Not Need Population or Update</defaultConnectorLabel>
        <rules>
            <name>Needs_Population_Update</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NAICS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NAICS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_NAICS_Record.X6_Digit_NAICS_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.DNBConnect__D_B_Connect_Company_Profile__r.IndustCodes_Descr_NAICS_priority1__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NAICS_Record</targetReference>
            </connector>
            <label>Needs Population / Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Grandchild</name>
        <label>Grandchild?</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Set_6_digit_NAICS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_and_set_NAICS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NAICSCode1NotNull</name>
        <label>NAICS Code 1 Not Null</label>
        <locationX>858</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DNBConnect__D_B_Connect_Company_Profile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_NAICS_Needs_Populated_or_Updated</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>380</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NAICS_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grandchild</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>NAICS 2.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NAICS 2.0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_NAICS_Record</name>
        <label>Get NAICS Record</label>
        <locationX>380</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X6_Digit_NAICS_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DNBConnect__D_B_Connect_Company_Profile__r.IndustCodes_Descr_NAICS_priority1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NAICS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_6_digit_NAICS</name>
        <label>Set 6 digit NAICS</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>NAICS__c</field>
            <value>
                <elementReference>Get_NAICS_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_and_set_NAICS</name>
        <label>Update Parent and set NAICS</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>NAICS__c</field>
            <value>
                <elementReference>Get_NAICS_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Parent.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NAICSCode1NotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DNBConnect__D_B_Connect_Company_Profile__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NAICS_Update_Needed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-01-28</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
