unpackaged/main/default/flows/NeuraFlash_VoiceCall_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Voice_Call_Fields</name>
        <label>Assign Voice Call Fields</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_Transfer_Voice_Call_Details.NF_Case_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Voice_Calls.NF_Case_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Transfer_Voice_Call_Details.NF_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Voice_Calls.NF_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Transfer_Voice_Call_Details.NF_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Voice_Calls.NF_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_VoiceCall_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Voice_Call_Fields_0</name>
        <label>Assign Voice Call Fields</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Get_Transfer_Voice_Call_Details.NF_Case_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_Voice_Call.NF_Case_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Transfer_Voice_Call_Details.NF_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_Voice_Call.NF_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Transfer_Voice_Call_Details.NF_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_Voice_Call.NF_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_VoiceCall_Records_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Linked</name>
        <label>Case Linked</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>NeuraFlash_VoiceCall_Inbound_Outbound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Voice_Calls.NF_Case_Number__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Voice_Call_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>NeuraFlash - VoiceCall: Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>NeuraFlash - VoiceCall: Transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Previous_Voice_Calls</name>
        <label>Get Previous Voice Calls</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Linked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Transfer_Voice_Call_Details.PreviousCallId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transfer_Voice_Call_Details</name>
        <label>Get Transfer Voice Call Details</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Previous_Voice_Calls</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>voiceCallRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Voice_Call</name>
        <label>Get Updated Voice Call</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Voice_Call_Fields_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Transfer_Voice_Call_Details.PreviousCallId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_Voice_Calls.NF_Case_Number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Transfer_Voice_Call_Details.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>This is where any transferred fields will be applied to the VoiceCall record</description>
        <name>Update_VoiceCall_Records</name>
        <label>Update VoiceCall Records</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <inputReference>Get_Transfer_Voice_Call_Details</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This is where any transferred fields will be applied to the VoiceCall record</description>
        <name>Update_VoiceCall_Records_0</name>
        <label>Update VoiceCall Records</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <inputReference>Get_Transfer_Voice_Call_Details</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Transfer_Voice_Call_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>NeuraFlash_VoiceCall_Case</name>
        <label>NeuraFlash - VoiceCall: Case</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Get_Updated_Voice_Call</targetReference>
        </connector>
        <flowName>NeuraFlash_VoiceCall_Case</flowName>
        <inputAssignments>
            <name>voiceCallRecordId</name>
            <value>
                <elementReference>voiceCallRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>NeuraFlash_VoiceCall_Inbound_Outbound</name>
        <label>NeuraFlash - VoiceCall: Inbound &amp; Outbound</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>NeuraFlash_VoiceCall_Case</targetReference>
        </connector>
        <flowName>NeuraFlash_VoiceCall_Inbound_Outbound</flowName>
        <inputAssignments>
            <name>voiceCallRecordId</name>
            <value>
                <elementReference>voiceCallRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>The Voice Call Record ID</description>
        <name>voiceCallRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
