unpackaged/main/default/flows/NeuraFlash_VoiceCall_Start.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Screen</name>
        <label>Update Screen</label>
        <locationX>814</locationX>
        <locationY>1322</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>voiceCallRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:UpdateScreen</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Call_Type</name>
        <label>Check Call Type</label>
        <locationX>768</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>NeuraFlash_VoiceCall_Inbound_Outbound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Others</defaultConnectorLabel>
        <rules>
            <name>Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voice_Call_Details.CallType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NeuraFlash_VoiceCall_Transfer</targetReference>
            </connector>
            <label>Transfer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Complete</name>
        <label>Flow Complete?</label>
        <locationX>767</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>Check_Call_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voice_Call_Details.Flow_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>NeuraFlash - VoiceCall: Start {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>NeuraFlash - VoiceCall: Start</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Updated_Voice_Call_Details_1</name>
        <label>Get Updated Voice Call Details 1</label>
        <locationX>802</locationX>
        <locationY>825</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_VoiceCall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>voiceCallRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Voice_Call_Details</name>
        <label>Get Voice Call Details</label>
        <locationX>776</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>voiceCallRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates VoiceCall field Flow Complete? to True to remove visibility from the Flow.</description>
        <name>Update_VoiceCall</name>
        <label>Update VoiceCall</label>
        <locationX>809</locationX>
        <locationY>961</locationY>
        <connector>
            <targetReference>Update_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>voiceCallRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Voice_Call_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>NeuraFlash_VoiceCall_Case</name>
        <label>NeuraFlash - VoiceCall: Case</label>
        <locationX>1126</locationX>
        <locationY>801</locationY>
        <connector>
            <targetReference>Get_Updated_Voice_Call_Details_1</targetReference>
        </connector>
        <flowName>NeuraFlash_VoiceCall_Case</flowName>
        <inputAssignments>
            <name>voiceCallRecordId</name>
            <value>
                <elementReference>voiceCallRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>NeuraFlash_VoiceCall_Inbound_Outbound</name>
        <label>NeuraFlash - VoiceCall: Inbound &amp; Outbound</label>
        <locationX>1110</locationX>
        <locationY>483</locationY>
        <connector>
            <targetReference>NeuraFlash_VoiceCall_Case</targetReference>
        </connector>
        <flowName>NeuraFlash_VoiceCall_Inbound_Outbound</flowName>
        <inputAssignments>
            <name>voiceCallRecordId</name>
            <value>
                <elementReference>voiceCallRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>NeuraFlash_VoiceCall_Transfer</name>
        <label>NeuraFlash - VoiceCall: Transfer</label>
        <locationX>536</locationX>
        <locationY>692</locationY>
        <connector>
            <targetReference>Get_Updated_Voice_Call_Details_1</targetReference>
        </connector>
        <flowName>NeuraFlash_VoiceCall_Transfer</flowName>
        <inputAssignments>
            <name>voiceCallRecordId</name>
            <value>
                <elementReference>voiceCallRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>The Voice Call Record ID</description>
        <name>voiceCallRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
