unpackaged/main/default/flows/NeuraFlash_VoiceCall_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>GetRecordTypes</name>
        <label>GetRecordTypes</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <actionName>GetRecordTypeInfobyObject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_General_Support_Case_RT</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ignoreMasterRecordType</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>onlyReturnActiveRecordTypes</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>onlyReturnRecordTypesAvailableToCurrentUser</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>GetRecordTypeInfobyObject</nameSegment>
        <outputParameters>
            <assignToReference>recordTypeValues</assignToReference>
            <name>recordTypeIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>recordTypeNames</assignToReference>
            <name>recordTypeNames</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>OpenCaseRecord</name>
        <label>OpenCaseRecord</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <actionName>c:NF_OpenRecordSubTab</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bringTabToFocus</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordType</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>selectedCaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voiceCallRecordId</name>
            <value>
                <elementReference>voiceCallRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NF_OpenRecordSubTab</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Case_Count</name>
        <label>Assign Case Count</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>caseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Case_Where_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Case_Id_from_Create_Case</name>
        <label>Assign Selected Case Id from Create Case</label>
        <locationX>743</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>selectedCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecordVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Voice_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Case_Id_from_Datatable</name>
        <label>Assign Selected Case Id from Datatable</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>selectedCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Datatable_Case.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Voice_Call_Owner_Id</name>
        <label>Assign Voice Call Owner Id</label>
        <locationX>743</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>voiceCallOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voice_Call.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CaseRecordVariable_with_RT</name>
        <label>Update CaseRecordVariable with RT</label>
        <locationX>743</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordVariable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_General_Support_Case_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateCaseVariableRecord</name>
        <label>UpdateCaseVariableRecord</label>
        <locationX>743</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordVariable.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voice_Call.NF_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordVariable.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voice_Call.NF_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordVariable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordVariable.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordVariable.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordVariable.GNOOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordVariable.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordVariable.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voice_Call.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordVariable.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordVariable.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voice_Call.NF_Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordVariable.PO_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Amount_For_Credit_Use</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Compliance</name>
        <choiceText>Compliance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Documentation</name>
        <choiceText>Documentation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Documentation</stringValue>
        </value>
    </choices>
    <choices>
        <name>eCommerce</name>
        <choiceText>eCommerce</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>eCommerce</stringValue>
        </value>
    </choices>
    <choices>
        <name>Export</name>
        <choiceText>Export</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Export</stringValue>
        </value>
    </choices>
    <choices>
        <name>Import</name>
        <choiceText>Import</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Import</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Case_Required</name>
        <choiceText>No Case Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Case Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>Onboarding</name>
        <choiceText>Onboarding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Onboarding</stringValue>
        </value>
    </choices>
    <choices>
        <name>VesselCloseout</name>
        <choiceText>Vessel Closeout</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vessel Closeout</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Case_Count</name>
        <label>Case Count</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetRecordTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Case Found</defaultConnectorLabel>
        <rules>
            <name>Case_Count_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Found_Screen</targetReference>
            </connector>
            <label>Case Count &gt;= 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Selected</name>
        <label>Case Selected</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>GetRecordTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Case_Selected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Datatable_Case.outputSelectedRow.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Voice_Call</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_selected</name>
        <label>Contact selected?</label>
        <locationX>743</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_General_Support_Case_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voice_Call.NF_Contact__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Where_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dialed_out_from_Case</name>
        <label>Dialed out from Case?</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Voice_Call_Owner_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voice_Call.NF_Case_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Add PO Amonut</description>
    <dynamicChoiceSets>
        <name>CategoryChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypeChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>NeuraFlash - VoiceCall: Case {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>NeuraFlash - VoiceCall: Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>743</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Assign_Selected_Case_Id_from_Create_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Case_Screen_0</targetReference>
        </faultConnector>
        <inputReference>CaseRecordVariable</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Where_Contact</name>
        <label>Get Case Where Contact</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Count</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Case_Count</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Voice_Call.NF_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_General_Support_Case_RT</name>
        <label>Get General Support Case RT</label>
        <locationX>743</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_CaseRecordVariable_with_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GeneralSupportCase</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Voice_Call</name>
        <label>Get Voice Call</label>
        <locationX>264</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dialed_out_from_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>voiceCallRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Voice_Call</name>
        <label>Update Voice Call</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>OpenCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Voice_Call.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NF_Case_Number__c</field>
            <value>
                <elementReference>selectedCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>selectedCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Found_Screen</name>
        <label>Case Found Screen</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Case_Id_from_Datatable</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Case_Found</name>
            <fieldText>&lt;p&gt;{!caseCount} &lt;strong&gt;case(s)&lt;/strong&gt; found for &lt;strong&gt;Contact: {!Get_Voice_Call.NF_Contact__r.FirstName} {!Get_Voice_Call.NF_Contact__r.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select a &lt;strong&gt;Case&lt;/strong&gt; from the table below or click &lt;strong&gt;Next&lt;/strong&gt; without selecting a &lt;strong&gt;Case&lt;/strong&gt; to create a New &lt;strong&gt;Case&lt;/strong&gt;.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Datatable_Case</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Case</typeValue>
            </dataTypeMappings>
            <extensionName>c:scvDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Case_Where_Contact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>CaseNumber,Category__c,Subject,Status,GNOOrder__c,Opportunity__c,CreatedDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Case_Screen</name>
        <label>Create Case Screen</label>
        <locationX>743</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateCaseVariableRecord</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Case_Found_0</name>
            <fieldText>&lt;p&gt;Create a new &lt;strong&gt;Case &lt;/strong&gt;by entering the &lt;strong&gt;Category&lt;/strong&gt;, &lt;strong&gt;Subject &lt;/strong&gt;and &lt;strong&gt;Description;&lt;/strong&gt; You may also optionally provide the related Order or Opportunity (Quote).  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>CaseRecordVariable.Category__c</objectFieldReference>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Create_Case_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Case_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Order</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GNOOrder__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Order</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PO_Amount_For_Credit_Use</name>
                    <dataType>Currency</dataType>
                    <fieldText>PO Amount (For Credit Increase Use)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;PO Amount should be greater than 0.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!PO_Amount_For_Credit_Use} &lt;= 0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Case_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quote</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Opportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunity (Quote)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Case_Screen_0</name>
        <label>Create Case Screen</label>
        <locationX>1282</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_Count</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Case_Found_0_0</name>
            <fieldText>&lt;p&gt;Unable to create a new &lt;strong&gt;Case &lt;/strong&gt;containing the &lt;strong&gt;Subject &lt;/strong&gt;and &lt;strong&gt;Description &lt;/strong&gt;entered. Please try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>138</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Voice_Call</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CaseRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>voiceCallOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>voiceCallRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
