unpackaged/main/default/flows/Opportunity_Commission_Processes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Commission_Owner_Set</name>
        <label>Commission Owner Set?</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_First_Order_Owner_ID_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__r.First_Order_Owner_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commission_Owner_LKP__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commission_Owner_LKP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Commission_Owner_LKP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary_Contact</targetReference>
            </connector>
            <label>Contact First Order Owner ID Check</label>
        </rules>
        <rules>
            <name>Commission_Owner_Check</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Commission_Owner_LKP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Commission_Owner_LKP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commission_Owner_LKP__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Opp_Commission_Owner_Role_and_Account_Owner_at_CW</targetReference>
            </connector>
            <label>Commission Owner Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_happened_to_this_Opportunity</name>
        <label>What happened to this Opportunity?</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>TODAY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Close_Date</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Owner_Lookup_0</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountOwneratCW</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Owner.Full_Name__c} + &quot; - &quot; + {!$Record.Account.Owner.Id}</expression>
    </formulas>
    <formulas>
        <name>PrimaryContact</name>
        <dataType>String</dataType>
        <expression>{!$Record.Primary_Contact__c}</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Opportunity Commission Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Commission Processes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Opp_Commission_Owner_Role_and_Account_Owner_at_CW</name>
        <label>Set Opp Commission Owner Role and Account Owner at CW</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Account_Owner_at_Closed_Won__c</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Owner_Role__c</field>
            <value>
                <elementReference>$Record.Commission_Owner_LKP__r.User_Role_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Owner_Lookup_0</name>
        <label>Update Account Owner Lookup</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Commission_Owner_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Owner_Lookup__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Owner_Lookup__c</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Role__c</field>
            <value>
                <elementReference>$Record.Account.Owner.User_Role_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Close_Date</name>
        <label>Update Opp Close Date</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Contact</name>
        <label>Update Primary Contact</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Set_Opp_Commission_Owner_Role_and_Account_Owner_at_CW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryContact</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Order_Owner_Id__c</field>
            <value>
                <elementReference>$Record.Commission_Owner_LKP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Order_Owner_Role__c</field>
            <value>
                <elementReference>$Record.Commission_Owner_LKP__r.User_Role_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_happened_to_this_Opportunity</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
