unpackaged/main/default/flows/Outreach_Opportunity_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Evalutate_Opportunity_Fields</name>
        <label>Evalutate Opportunity Fields</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Primary_Contact_is_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outreach_Last_Touch_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_Last_Touch_Sequence__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Outreach_Last_Touch_Contact__r.Outreach_Finished_Sequences__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_Last_Touch_Sequence__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Outreach_Last_Touch_Contact__r.Outreach_Current_Sequence_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_First_Primary_Contact</targetReference>
            </connector>
            <label>First Primary Contact is not blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Outreach - Opportunity Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Outreach - Opportunity Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_First_Primary_Contact</name>
        <label>Update First Primary Contact</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Outreach_Attributed_Finished_Sequences__c</field>
            <value>
                <elementReference>$Record.Outreach_Last_Touch_Contact__r.Outreach_Finished_Sequences__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outreach_Last_Touch_Sequence__c</field>
            <value>
                <elementReference>$Record.Outreach_Last_Touch_Contact__r.Outreach_Current_Sequence_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evalutate_Opportunity_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Outreach_Last_Touch_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
