unpackaged/main/default/flows/PerformanceEscalationForm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <dynamicChoiceSets>
        <name>SupplierIDs</name>
        <dataType>String</dataType>
        <displayField>PartnerID__c</displayField>
        <object>Supplier__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Performance Escalation Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Performance Escalation Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>Create Case</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>CaseCreated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CaseCreated_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>IssueReported</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationCommunication__c</field>
            <value>
                <elementReference>Communication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationEthics__c</field>
            <value>
                <elementReference>Ethics</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationOther__c</field>
            <value>
                <elementReference>Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationQuality__c</field>
            <value>
                <elementReference>Quality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationSCAR__c</field>
            <value>
                <elementReference>SCAR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationShipping__c</field>
            <value>
                <elementReference>Shipping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationTimeliness__c</field>
            <value>
                <elementReference>Timeliness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationType__c</field>
            <value>
                <stringValue>Performance Escalation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationVQCMiss__c</field>
            <value>
                <elementReference>VQCMiss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ImpactedJobs__c</field>
            <value>
                <elementReference>ImpactedJobs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IssueReported__c</field>
            <value>
                <elementReference>IssueReported</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessCNC__c</field>
            <value>
                <elementReference>CNC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessCarbon__c</field>
            <value>
                <elementReference>Carbon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessDMLS__c</field>
            <value>
                <elementReference>DMLS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessFDM__c</field>
            <value>
                <elementReference>FDM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessInjectionMolding__c</field>
            <value>
                <elementReference>InjectionMolding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessMJF__c</field>
            <value>
                <elementReference>MJF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessSLA__c</field>
            <value>
                <elementReference>SLA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessSLS__c</field>
            <value>
                <elementReference>SLS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessSheetMetal__c</field>
            <value>
                <elementReference>SheetMetal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessUrethaneCasting__c</field>
            <value>
                <elementReference>UrethaneCasting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequesterName__c</field>
            <value>
                <elementReference>RequesterName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Performance Escalation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier__c</field>
            <value>
                <elementReference>GetSupplier.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Performance Escalation</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetRecordType</name>
        <label>Get Record Type</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSupplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PerformanceEscalation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSupplier</name>
        <label>Get Supplier</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PartnerID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Supplier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CaseCreated</name>
        <label>Case Created</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseCreatedHeader</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Case Created!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CaseCreated_0</name>
        <label>Case Created</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseCreatedHeader_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Error Creating Case! Reach out to Salesforce Admin for assistance.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PerformanceEscalationForm</name>
        <label>Performance Escalation Form</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
        <fields>
            <name>PerformanceEscalation</name>
            <dataType>Boolean</dataType>
            <fieldText>Performance Escalation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RequesterName</name>
            <dataType>String</dataType>
            <fieldText>Requester Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PartnerID</name>
            <choiceReferences>SupplierIDs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Partner ID</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PerformanceEscalationForm_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PerformanceEscalationForm_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProcessHeader</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Process&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CNC</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>CNC</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SheetMetal</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Sheet Metal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>InjectionMolding</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Injection Molding</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>UrethaneCasting</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Urethane Casting</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FDM</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>FDM</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SLS</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>SLS</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SLA</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>SLA</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DMLS</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>DMLS</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Carbon</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Carbon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MJF</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>MJF</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PerformanceEscalationForm_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PerformanceEscalationForm_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EscalationCategoryHeader</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Escalation Category&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Shipping</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Shipping</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SCAR</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>SCAR</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Quality</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Quality</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Timeliness</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Timeliness</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Communication</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Communication</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Ethics</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Ethics</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>VQCMiss</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>VQC Miss</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>IssueReported</name>
            <dataType>String</dataType>
            <fieldText>Issue Reported</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ImpactedJobs</name>
            <dataType>String</dataType>
            <fieldText>Impacted Job(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PerformanceEscalationForm</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
