unpackaged/main/default/flows/PSE2_0_QuoteSpecWaitingCustomerChangeCaseOwner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PSE_Case_Owner_Change_Notification</name>
        <label>PSE Case Owner Change Notification</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <actionName>Case.PSE_2_0_Case_Owner_Change_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.PSE_2_0_Case_Owner_Change_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PSE_Case_Owner_Change_Notification2</name>
        <label>2PSE Case Owner Change Notification2</label>
        <locationX>842</locationX>
        <locationY>900</locationY>
        <actionName>Case.PSE_2_0_Case_Owner_Change_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.PSE_2_0_Case_Owner_Change_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Copy_1_of_setContOwner</name>
        <label>Copy 1 of setContOwner</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>newOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseContactOwnerID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckDayofOutreach</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setContOwner</name>
        <label>setContOwner</label>
        <locationX>1304</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>newOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseContactOwnerID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mon_Thur</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOppOwner</name>
        <label>setOppOwner</label>
        <locationX>1040</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>newOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityOwnerID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mon_Thur</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Status_Still_Pending</name>
        <label>Case Status Still Pending</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusToOpen</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDayofOutreach</name>
        <label>CheckDayofOutreach</label>
        <locationX>380</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Friday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DayofOutreach</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status_Still_Pending</targetReference>
            </connector>
            <label>Friday</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Case_Status_Still_Pending</name>
        <label>Copy 1 of Case Status Still Pending</label>
        <locationX>974</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusToOpen2</targetReference>
            </connector>
            <label>Still Pending`</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mon_Thur</name>
        <label>Mon-Thur?</label>
        <locationX>1172</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Monday_Friday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DayofOutreach</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DayofOutreach</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Case_Status_Still_Pending</targetReference>
            </connector>
            <label>Monday-Thursday</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateHasOppOwner</name>
        <label>validateHasOppOwner</label>
        <locationX>1172</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>setContOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasOppOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OpportunityOwnerID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setOppOwner</targetReference>
            </connector>
            <label>hasOppOwner</label>
        </rules>
    </decisions>
    <description>APP-48646</description>
    <environments>Default</environments>
    <formulas>
        <name>DayofOutreach</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY(DATEVALUE( {!$Record.dateTimeSetToAwaitingCustomer__c}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PSE2.0 QuoteSpecWaitingCustomerChangeCaseOwner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSE2.0 QuoteSpecWaitingCustomerChangeCaseOwner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateStatusToOpen</name>
        <label>UpdateStatusToOpen</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>PSE_Case_Owner_Change_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dateTimeSetToAwaitingCustomer__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatusToOpen2</name>
        <label>UpdateStatusToOpen</label>
        <locationX>842</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>PSE_Case_Owner_Change_Notification2</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dateTimeSetToAwaitingCustomer__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOpsOutcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Information Needed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>x72h</name>
            <connector>
                <targetReference>Copy_1_of_setContOwner</targetReference>
            </connector>
            <label>72h Later (Friday)</label>
            <offsetNumber>72</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>dateTimeSetToAwaitingCustomer__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>x24h</name>
            <connector>
                <targetReference>validateHasOppOwner</targetReference>
            </connector>
            <label>24 Hours Later (Mon-Thur)</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>dateTimeSetToAwaitingCustomer__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
