unpackaged/main/default/flows/PSE2_0_BANT_Dynamic_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Found</name>
        <label>Found</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>GetPSEFormDataByQuoteID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BulkUploadFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPSEFormData.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseRecord.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bulk Upload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSE_Form_Bulk_Upload</targetReference>
            </connector>
            <label>BulkUploadFound</label>
        </rules>
        <rules>
            <name>Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPSEFormData.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BANT_Dynamic_Form_1_0</targetReference>
            </connector>
            <label>Found1</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundByQuoteID</name>
        <label>FoundByQuoteID</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>BANT_Dynamic_Form_1_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FoundByQuoteID1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPSEFormDataByQuoteID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BANT_Dynamic_Form_1_0_0_0</targetReference>
            </connector>
            <label>FoundByQuoteID1</label>
        </rules>
    </decisions>
    <description>Checkbox fields changed to Yes/No Picklists for AMQ release</description>
    <environments>Default</environments>
    <interviewLabel>PSE2.0 BANT Dynamic Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>PSE2.1 BANT Dynamic Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewPSEFormRecord</name>
        <label>CreateNewPSEFormRecord</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>update_case_s_PSE_form_lookup</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Additional_Info__c</field>
            <value>
                <elementReference>newPSEFormRecord.Additional_Info__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allow_Partial_Qty_Shipments__c</field>
            <value>
                <elementReference>newPSEFormRecord.Allow_Partial_Qty_Shipments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Feedback__c</field>
            <value>
                <elementReference>newPSEFormRecord.Design_Feedback__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Future_Volume__c</field>
            <value>
                <elementReference>newPSEFormRecord.Estimated_Future_Volume__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_Cross_Sell__c</field>
            <value>
                <elementReference>newPSEFormRecord.Future_Cross_Sell__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Important_Aspect__c</field>
            <value>
                <elementReference>newPSEFormRecord.Important_Aspect__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_a_formal_production_approval_process__c</field>
            <value>
                <elementReference>newPSEFormRecord.Is_a_formal_production_approval_process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manufacturing_Approach__c</field>
            <value>
                <elementReference>newPSEFormRecord.Manufacturing_Approach__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manufacturing_Location__c</field>
            <value>
                <elementReference>newPSEFormRecord.Manufacturing_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_For_Parts__c</field>
            <value>
                <elementReference>newPSEFormRecord.Price_For_Parts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_Date_Requirement__c</field>
            <value>
                <elementReference>newPSEFormRecord.Sample_Date_Requirement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhenDoYouNeedYourOrderDelivered__c</field>
            <value>
                <elementReference>newPSEFormRecord.WhenDoYouNeedYourOrderDelivered__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhenLikelyToPlaceOrder__c</field>
            <value>
                <elementReference>newPSEFormRecord.WhenLikelyToPlaceOrder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cosmetic_or_structural_parts__c</field>
            <value>
                <elementReference>newPSEFormRecord.cosmetic_or_structural_parts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>do_you_have_a_price_target_picklist__c</field>
            <value>
                <elementReference>newPSEFormRecord.do_you_have_a_price_target_picklist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>have_you_made_these_parts_before__c</field>
            <value>
                <elementReference>newPSEFormRecord.have_you_made_these_parts_before__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ordering_additional_volume_picklist__c</field>
            <value>
                <elementReference>newPSEFormRecord.ordering_additional_volume_picklist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>usa_production_required__c</field>
            <value>
                <elementReference>newPSEFormRecord.usa_production_required__c</elementReference>
            </value>
        </inputAssignments>
        <object>PSE_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCurrentCaseRecord</name>
        <label>GetCurrentCaseRecord</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPSEFormData</name>
        <label>GetPSEFormData</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCurrentCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PSE_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPSEFormDataByQuoteID</name>
        <label>GetPSEFormDataByQuoteID</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundByQuoteID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentCaseRecord.Shadow_Xometry_ERP_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quote_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PSE_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_PSE_Form_Lookup</name>
        <label>Update Case PSE Form Lookup</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>ConfirmationWindow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PSE_Form__c</field>
            <value>
                <elementReference>GetPSEFormData.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_PSE_Form_Lookup_0</name>
        <label>Update Case PSE Form Lookup</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>ConfirmationWindow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PSE_Form__c</field>
            <value>
                <elementReference>GetPSEFormDataByQuoteID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_case_s_PSE_form_lookup</name>
        <label>Update Case&apos;s PSE form lookup</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>ConfirmationWindow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentCaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PSE_Form__c</field>
            <value>
                <elementReference>CreateNewPSEFormRecord</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePSEForm</name>
        <label>UpdatePSEForm</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Update_Case_PSE_Form_Lookup</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>GetPSEFormData</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePSEForm_0</name>
        <label>UpdatePSEForm</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_Case_PSE_Form_Lookup_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>GetPSEFormDataByQuoteID</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>BANT_Dynamic_Form_1_0</name>
        <label>BANT Dynamic Form 1</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdatePSEForm</targetReference>
        </connector>
        <fields>
            <name>BANT_Dynamic_Form_1_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BANT_Dynamic_Form_1_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Section1_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(29, 28, 29); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Fields for All Processes&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.Manufacturing_Approach__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.WhenDoYouNeedYourOrderDelivered__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText1_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;*Date mm/dd/yyyy&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.Manufacturing_Location__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText2_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;*USA, China/Asia, Either&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.WhenLikelyToPlaceOrder__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.Price_For_Parts__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormData.Additional_Info__c</objectFieldReference>
        </fields>
        <fields>
            <name>BANT_Dynamic_Form_1_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BANT_Dynamic_Form_1_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SectionIMUC_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;IM &amp;amp; UC&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.Important_Aspect__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText3_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;*Pricing, Leadtime, Equally Important.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.Sample_Date_Requirement__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText4_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;*Less than 15 days, 15-25 days, 25+ days&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.Estimated_Future_Volume__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BANT_Dynamic_Form_1_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BANT_Dynamic_Form_1_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SectionAdditive_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Additive&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.Allow_Partial_Qty_Shipments__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText5_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b&gt;Choose From:&lt;/b&gt;  Yes, the partial quantity will work,&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;No, need all parts in one shipment, &lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;N/A&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.Estimated_Future_Volume__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText6_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b&gt;Choose&lt;/b&gt;: Yes or No.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.Design_Feedback__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText7_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Choose&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: Yes or No.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormData.Future_Cross_Sell__c</objectFieldReference>
        </fields>
        <fields>
            <name>HelpText8_0</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Choose&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: Yes or No.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FAB_Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;FAB5&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormData.do_you_have_a_price_target_picklist__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormData.Price_For_Parts__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormData.usa_production_required__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormData.have_you_made_these_parts_before__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormData.ordering_additional_volume_picklist__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormData.cosmetic_or_structural_parts__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormData.Is_a_formal_production_approval_process__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormData.Final_Quote_Email_List__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormData.Sales_Question_Contact__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BANT_Dynamic_Form_1_0_0</name>
        <label>BANT Dynamic Form 1</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateNewPSEFormRecord</targetReference>
        </connector>
        <fields>
            <name>BANT_Dynamic_Form_1_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BANT_Dynamic_Form_1_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Section1_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(29, 28, 29);&quot;&gt;Fields for All Processes&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newPSEFormRecord.Manufacturing_Approach__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newPSEFormRecord.WhenDoYouNeedYourOrderDelivered__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText1_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;*Date mm/dd/yyyy&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newPSEFormRecord.Manufacturing_Location__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText2_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;*USA, China/Asia, Either&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newPSEFormRecord.WhenLikelyToPlaceOrder__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newPSEFormRecord.Price_For_Parts__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newPSEFormRecord.Additional_Info__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BANT_Dynamic_Form_1_0_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BANT_Dynamic_Form_1_0_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SectionIMUC_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;IM &amp;amp; UC&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newPSEFormRecord.Important_Aspect__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText3_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;*Pricing, Leadtime, Equally Important.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newPSEFormRecord.Sample_Date_Requirement__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText4_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;*Less than 15 days, 15-25 days, 25+ days&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newPSEFormRecord.Estimated_Future_Volume__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BANT_Dynamic_Form_1_0_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BANT_Dynamic_Form_1_0_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SectionAdditive_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Additive&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newPSEFormRecord.Allow_Partial_Qty_Shipments__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText5_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b&gt;Choose From:&lt;/b&gt;  Yes, the partial quantity will work,&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;No, need all parts in one shipment, &lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;N/A&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newPSEFormRecord.Future_Cross_Sell__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText6_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b&gt;Choose&lt;/b&gt;: Yes or No.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newPSEFormRecord.Design_Feedback__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText7_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Choose&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: Yes or No.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newPSEFormRecord.Estimated_Future_Volume__c</objectFieldReference>
        </fields>
        <fields>
            <name>HelpText8_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Choose&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: Yes or No.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FAB5Display3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;FAB5&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newPSEFormRecord.do_you_have_a_price_target_picklist__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newPSEFormRecord.Price_For_Parts__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newPSEFormRecord.usa_production_required__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newPSEFormRecord.have_you_made_these_parts_before__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newPSEFormRecord.ordering_additional_volume_picklist__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newPSEFormRecord.cosmetic_or_structural_parts__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newPSEFormRecord.Is_a_formal_production_approval_process__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BANT_Dynamic_Form_1_0_0_0</name>
        <label>BANT Dynamic Form 1</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdatePSEForm_0</targetReference>
        </connector>
        <fields>
            <name>BANT_Dynamic_Form_1_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BANT_Dynamic_Form_1_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Section1_0_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(29, 28, 29);&quot;&gt;Fields for All Processes&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormDataByQuoteID.Manufacturing_Approach__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormDataByQuoteID.WhenDoYouNeedYourOrderDelivered__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText1_0_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;*Date mm/dd/yyyy&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormDataByQuoteID.Manufacturing_Location__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText2_0_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;*USA, China/Asia, Either&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormDataByQuoteID.WhenLikelyToPlaceOrder__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormDataByQuoteID.Price_For_Parts__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormDataByQuoteID.Additional_Info__c</objectFieldReference>
        </fields>
        <fields>
            <name>BANT_Dynamic_Form_1_0_0_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BANT_Dynamic_Form_1_0_0_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SectionIMUC_0_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;IM &amp;amp; UC&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormDataByQuoteID.Important_Aspect__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText3_0_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;*Pricing, Leadtime, Equally Important.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormDataByQuoteID.Sample_Date_Requirement__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText4_0_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;*Less than 15 days, 15-25 days, 25+ days&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormDataByQuoteID.Estimated_Future_Volume__c</objectFieldReference>
        </fields>
        <fields>
            <name>BANT_Dynamic_Form_1_0_0_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BANT_Dynamic_Form_1_0_0_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SectionAdditive_0_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Additive&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormDataByQuoteID.Allow_Partial_Qty_Shipments__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText5_0_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b&gt;Choose From:&lt;/b&gt;  Yes, the partial quantity will work,&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;No, need all parts in one shipment, &lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;N/A&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormDataByQuoteID.Estimated_Future_Volume__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText6_0_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b&gt;Choose&lt;/b&gt;: Yes or No.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormDataByQuoteID.Design_Feedback__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpText7_0_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Choose&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: Yes or No.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormDataByQuoteID.Future_Cross_Sell__c</objectFieldReference>
        </fields>
        <fields>
            <name>HelpText8_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Choose&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: Yes or No.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FAB2Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;FAB 5&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormDataByQuoteID.do_you_have_a_price_target_picklist__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormDataByQuoteID.Price_For_Parts__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormDataByQuoteID.usa_production_required__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormDataByQuoteID.have_you_made_these_parts_before__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormDataByQuoteID.ordering_additional_volume_picklist__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormDataByQuoteID.cosmetic_or_structural_parts__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GetPSEFormDataByQuoteID.Is_a_formal_production_approval_process__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationWindow</name>
        <label>ConfirmationWindow</label>
        <locationX>578</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;PSE Form Saved/Updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PSE_Form_Bulk_Upload</name>
        <label>PSE Form Bulk Upload</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdatePSEForm</targetReference>
        </connector>
        <fields>
            <name>PSE_Form_Bulk_Upload_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PSE_Form_Bulk_Upload_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Section1_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(29, 28, 29); --darkreader-inline-bgcolor:#181a1b; --darkreader-inline-color:#d6d2cd;&quot; data-darkreader-inline-bgcolor=&quot;&quot; data-darkreader-inline-color=&quot;&quot;&gt;PSE Bulk Upload BANT Dynamic Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Part_Files_Links</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(24, 26, 27);&quot;&gt;{!GetPSEFormData.Part_Links__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.previously_ordered_bool__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.previously_ordered_followup__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.Manufacturing_Approach__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.quantities_needed__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.additional_information__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.manufactured_in_USA__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.custom_inspection_required__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.Delivery_Location__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.estimated_delivery_date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.Split_Shipment_Delivery_Schedule__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.partial_shipments_allowed__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.Important_Aspect__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.Final_Quote_Email_List__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.Technical_Question_Contact__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetPSEFormData.Sales_Question_Contact__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPSEFormData</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Pass the ID of the Case into the Flow.</description>
        <name>CaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newPSEFormRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PSE_Form__c</objectType>
    </variables>
</Flow>
