unpackaged/main/default/flows/PSEOutcomeCounter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_PSE_Outcome_Counter</name>
        <label>Assign PSE Outcome Counter</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>PSEOutcomeCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_PSE_Outcome_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Counter</targetReference>
        </connector>
    </assignments>
    <description>filter to the only new records</description>
    <environments>Default</environments>
    <interviewLabel>PSEOutcomeCounter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSEOutcomeCounter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PSE_Outcome_Count</name>
        <label>Get PSE Outcome Count</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_PSE_Outcome_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NewPSEOutcome__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Counter</name>
        <label>Save Counter</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>PSEOutcomeCounter__c</field>
            <value>
                <elementReference>PSEOutcomeCounter</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PSE_Outcome_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Outbound_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PSE_Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2023-11-01T04:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-06-22</startDate>
            <startTime>21:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PSEOutcomeCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
