unpackaged/main/default/flows/Quota_Batch_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Quota_Found</name>
        <label>Quota Found?</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>No, Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuotaLookup.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Remove_Quota</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuotaLookup.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quota__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_RQ</targetReference>
            </connector>
            <label>No, Remove Quota</label>
        </rules>
    </decisions>
    <description>Daily lookup to update quota on opportunity record</description>
    <formulas>
        <name>CalculateQuotaOwner</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.StageName},&quot;Closed Won&quot;), {!$Record.Commission_Owner_LKP__c}, {!$Record.OwnerId})</expression>
    </formulas>
    <interviewLabel>Quota Batch Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quota Batch Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Finding quota record that should apply to Opportunity</description>
        <name>Get_Quota</name>
        <label>Get Quota</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quota_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>owner_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalculateQuotaOwner</elementReference>
            </value>
        </filters>
        <filters>
            <field>startdate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>enddate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <object>Quota__c</object>
        <outputReference>QuotaLookup</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_RQ</name>
        <label>Update Opp RQ</label>
        <locationX>314</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>Quota__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Relate Quota to Opportunity.</description>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>Quota__c</field>
            <value>
                <elementReference>QuotaLookup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quota</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Needs_Quota__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-08-06</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>QuotaLookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quota__c</objectType>
    </variables>
</Flow>
