unpackaged/main/default/flows/ReturnLineItemFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>increaseCantNotRMA</name>
        <label>increaseCantNotRMA</label>
        <locationX>820</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>cantNotRMA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>valideAllNextStepsEstablished</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>increaseCantPending</name>
        <label>increaseCantPending</label>
        <locationX>1084</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>cantPending</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>valideAllNextStepsEstablished</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>increaseCantRMA</name>
        <label>increaseCantRMA</label>
        <locationX>556</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>cantRMADisposition</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>valideAllNextStepsEstablished</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>initCommentsAndNotes</name>
        <label>initCommentsAndNotes</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>getRMA.All_Next_Steps_Established__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRMA.Overall_QE_Comments__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRMA.Overall_RMA_Manager_Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRMA.Overall_Root_Cause_Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRMA.CreatedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRMA.Total_customer_price__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loopLineItemsRelated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAllNextStepsEstablished</name>
        <label>setAllNextStepsEstablished</label>
        <locationX>688</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>getRMA.All_Next_Steps_Established__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setCommentsAndNotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCommentsAndNotes</name>
        <label>setCommentsAndNotes</label>
        <locationX>820</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>getRMA.Overall_QE_Comments__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;{!loopLineItemsRelated.Name}:&lt;/b&gt; {!loopLineItemsRelated.QE_Comments__c} &lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRMA.Overall_RMA_Manager_Notes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;{!loopLineItemsRelated.Name}:&lt;/b&gt; {!loopLineItemsRelated.RMA_Manager_Notes__c}  &lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRMA.Overall_Root_Cause_Notes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;{!loopLineItemsRelated.Name}:&lt;/b&gt; {!loopLineItemsRelated.Root_Cause_Notes__c}  &lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRMA.Total_customer_price__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopLineItemsRelated.Customer_price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLineItemsRelated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDispositionDateEmpty</name>
        <label>setDispositionDateEmpty</label>
        <locationX>974</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>hasDispositionDateEmpty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRMA.Disposition_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>valideEmptyExpectedArrivalDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setLastDispositionDateRMA</name>
        <label>setLastDispositionDateRMA</label>
        <locationX>534</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>getRMA.Disposition_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopLineItemsRelated.Disposition_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>valideEmptyExpectedArrivalDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setLastExpectedArrivalDate</name>
        <label>setLastExpectedArrivalDate</label>
        <locationX>534</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>getRMA.Expected_Arrival_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopLineItemsRelated.Expected_Arrival_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>validDispositionRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNotRMAValue</name>
        <label>setNotRMAValue</label>
        <locationX>842</locationX>
        <locationY>3047</locationY>
        <assignmentItems>
            <assignToReference>getRMA.Overall_Disposition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RMA rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRMARecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPartialRMAValue</name>
        <label>setPartialRMAValue</label>
        <locationX>578</locationX>
        <locationY>3047</locationY>
        <assignmentItems>
            <assignToReference>getRMA.Overall_Disposition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RMA Partialy Accepted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRMARecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPendingValue</name>
        <label>setPendingValue</label>
        <locationX>50</locationX>
        <locationY>3047</locationY>
        <assignmentItems>
            <assignToReference>getRMA.Overall_Disposition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRMARecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRMAValue</name>
        <label>setRMAValue</label>
        <locationX>314</locationX>
        <locationY>3047</locationY>
        <assignmentItems>
            <assignToReference>getRMA.Overall_Disposition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RMA Completly Accepted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRMARecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>validChangeRelatedRecord</name>
        <label>validChangeRelatedRecord</label>
        <locationX>776</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>changeValue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disposition__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Established_Next_Steps__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RMA_Manager_Notes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Root_Cause_Notes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QE_Comments__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Arrival_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getReturnLineItemsRelated</targetReference>
            </connector>
            <label>changeValue</label>
        </rules>
    </decisions>
    <decisions>
        <name>validDispositionRecord</name>
        <label>validDispositionRecord</label>
        <locationX>820</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>increaseCantPending</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isRMA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopLineItemsRelated.Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RMA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>increaseCantRMA</targetReference>
            </connector>
            <label>isRMA</label>
        </rules>
        <rules>
            <name>isNotRMA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopLineItemsRelated.Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not RMA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>increaseCantNotRMA</targetReference>
            </connector>
            <label>isNotRMA</label>
        </rules>
    </decisions>
    <decisions>
        <name>valideAllNextStepsEstablished</name>
        <label>valideAllNextStepsEstablished</label>
        <locationX>820</locationX>
        <locationY>2375</locationY>
        <defaultConnector>
            <targetReference>setCommentsAndNotes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEmptyRecordNextStepsEstablished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopLineItemsRelated.Established_Next_Steps__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAllNextStepsEstablished</targetReference>
            </connector>
            <label>isEmptyRecordNextStepsEstablished</label>
        </rules>
    </decisions>
    <decisions>
        <name>valideEmptyDispositionDate</name>
        <label>valideEmptyDispositionDate</label>
        <locationX>820</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>setDispositionDateEmpty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dispositionDateNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasDispositionDateEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLineItemsRelated.Disposition_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>validLastDispositionDate</targetReference>
            </connector>
            <label>dispositionDateNotEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>valideEmptyExpectedArrivalDate</name>
        <label>valideEmptyExpectedArrivalDate</label>
        <locationX>820</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>validDispositionRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>expectedArrivalDateNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasExpectedArrivalDateEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLineItemsRelated.Expected_Arrival_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>validLastExpectedArrivalDate</targetReference>
            </connector>
            <label>expectedArrivalDateNotEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>valideOverallDisposition</name>
        <label>valideOverallDisposition</label>
        <locationX>446</locationX>
        <locationY>2927</locationY>
        <defaultConnector>
            <targetReference>setNotRMAValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cantPending</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPendingValue</targetReference>
            </connector>
            <label>isPending</label>
        </rules>
        <rules>
            <name>isRMAValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cantNotRMA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRMAValue</targetReference>
            </connector>
            <label>isRMAValue</label>
        </rules>
        <rules>
            <name>hasRMA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cantRMADisposition</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPartialRMAValue</targetReference>
            </connector>
            <label>hasRMA</label>
        </rules>
    </decisions>
    <decisions>
        <name>validLastDispositionDate</name>
        <label>validLastDispositionDate</label>
        <locationX>666</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>valideEmptyExpectedArrivalDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isLastDispotionDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRMA.Disposition_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>loopLineItemsRelated.Disposition_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setLastDispositionDateRMA</targetReference>
            </connector>
            <label>isLastDispotionDate</label>
        </rules>
    </decisions>
    <decisions>
        <name>validLastExpectedArrivalDate</name>
        <label>validLastExpectedArrivalDate</label>
        <locationX>666</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>validDispositionRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LastExpectedArrivalDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopLineItemsRelated.Expected_Arrival_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRMA.Expected_Arrival_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>loopLineItemsRelated.Expected_Arrival_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setLastExpectedArrivalDate</targetReference>
            </connector>
            <label>LastExpectedArrivalDate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>lineBreak</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;br&gt;&quot;</expression>
    </formulas>
    <interviewLabel>ReturnLineItemFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ReturnLineItemFlow</label>
    <loops>
        <name>loopLineItemsRelated</name>
        <label>loopLineItemsRelated</label>
        <locationX>446</locationX>
        <locationY>815</locationY>
        <collectionReference>getReturnLineItemsRelated</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>valideEmptyDispositionDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>valideOverallDisposition</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getReturnLineItemsRelated</name>
        <label>getReturnLineItemsRelated</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>initCommentsAndNotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RMA_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RMA_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Return_Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRMA</name>
        <label>getRMA</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validChangeRelatedRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RMA_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RMA_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateRMARecord</name>
        <label>updateRMARecord</label>
        <locationX>446</locationX>
        <locationY>3263</locationY>
        <inputReference>getRMA</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRMA</targetReference>
        </connector>
        <object>Return_Order_Line_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllNextStepsEstablished</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>cantNotRMA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>cantPending</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>cantRMADisposition</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>hasDispositionDateEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasExpectedArrivalDateEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
