unpackaged/main/default/flows/S3_File_Count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Record_Count</name>
        <label>Record Count</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>S3_Record_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_S3_File_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_S3_Count_on_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_S3_Count_on_Case</name>
        <label>Update S3 Count on Case</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.S3_File_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S3_Record_Count</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Files_found</name>
        <label>Files found?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Files_Found_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_S3_File_Count</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Count</targetReference>
            </connector>
            <label>Files Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>S3 File Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>S3 File Count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_S3_File_Count</name>
        <label>Get S3 File Count</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Files_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NEILON__Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NEILON__File__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_S3_File_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000ixWPAAY</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>S3_Record_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
