unpackaged/main/default/flows/Sales_Weight.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Email_Alert_Leadership_to_Rep</name>
        <label>Email Alert - Leadership to Rep</label>
        <locationX>512</locationX>
        <locationY>2030</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SetNotificationLeadershipToRep</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_Email_Alert_Leadership_to_Rep</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>DeNulled_Email_Recipient_List_Leadership</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Rep_to_Leadership</name>
        <label>Email Alert - Rep to Leadership</label>
        <locationX>842</locationX>
        <locationY>4634</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>RequestNotificationRep</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_Email_Alert_Rep_to_Leadership</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>DeNulled_Email_Recipient_List_Rep</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ERROR_Email_Alert_Leadership_to_Rep</name>
        <label>ERROR Email Alert - Leadership to Rep</label>
        <locationX>1040</locationX>
        <locationY>2138</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SetNotificationLeadershipToRep</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>tmeehan@xometry.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sales Weight - Email Error LR</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ERROR_Email_Alert_Rep_to_Leadership</name>
        <label>ERROR Email Alert - Rep to Leadership</label>
        <locationX>1370</locationX>
        <locationY>4742</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RequestNotificationRep</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>tmeehan@xometry.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sales Weight - Email Error RL</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ERROR_Notification_Alert_Leadership_to_Rep</name>
        <label>ERROR Notification Alert - Leadership to Rep</label>
        <locationX>776</locationX>
        <locationY>2246</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>tmeehan@xometry.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sales Weight - Notification Error LR</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ERROR_Notification_Alert_Rep_to_Leadership</name>
        <label>ERROR Notification Alert - Rep to Leadership</label>
        <locationX>1106</locationX>
        <locationY>4850</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>tmeehan@xometry.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sales Weight - Notification Error - RL</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RequestNotificationRep</name>
        <label>RequestNotificationRepToLeadership</label>
        <locationX>842</locationX>
        <locationY>4742</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <faultConnector>
            <targetReference>ERROR_Notification_Alert_Rep_to_Leadership</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotificationId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Finalize_User_Notification_List_Rep</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SetNotificationLeadershipToRep</name>
        <label>SetNotificationLeadershipToRep</label>
        <locationX>512</locationX>
        <locationY>2138</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <faultConnector>
            <targetReference>ERROR_Notification_Alert_Leadership_to_Rep</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotificationId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Finalize_User_Notification_List_Leadership</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Recipients_Leadership_to_Rep</name>
        <label>Add Recipients - Leadership to Rep</label>
        <locationX>908</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>NotifyUsersRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppOwnerIdSmart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotifyUsersRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Requester_Leadership.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Requester_Leadership.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppOwnerEmailSmart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finalize_User_Notification_List_Leadership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Recipients_Rep_to_Leadership</name>
        <label>Add Recipients - Rep to Leadership</label>
        <locationX>1238</locationX>
        <locationY>3686</locationY>
        <assignmentItems>
            <assignToReference>NotifyUsersRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppOwnerManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotifyUsersRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppOwnerIdSmart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppOwnerManagerEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppOwnerEmailSmart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_on_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Recipients_Requester_to_Leadership</name>
        <label>Add Recipients - Requester to Leadership</label>
        <locationX>1106</locationX>
        <locationY>4010</locationY>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequesterManagerEmailSmart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotifyUsersRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequesterManagerIdSmart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finalize_User_Notification_List_Rep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opt_Date_Field_Leadership</name>
        <label>Assign Opt Date Field - Leadership</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Weight_Date_Input_Leadership_Opt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriorityCalculatorLeadershipSetOpt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesWeight_Set_Leadership_Opt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesWeightValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesWeight_Set_Leadership_Opt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Leadership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opt_Date_Field_Rep</name>
        <label>Assign Opt Date Field - Rep</label>
        <locationX>1370</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Weight_Date_Input_Rep_Opt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Req_Date_Field_Leadership</name>
        <label>Assign Req Date Field - Leadership</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Weight_Date_Input_Leadership_Req</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriorityCalculatorLeadershipSetReq</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesWeight_Set_Leadership_Req</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesWeightValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesWeight_Set_Leadership_Req</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Leadership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Req_Date_Field_Rep</name>
        <label>Assign Req Date Field - Rep</label>
        <locationX>1106</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Weight_Date_Input_Rep_Req</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recipient_List_Length_Leadership</name>
        <label>Recipient List Length - Leadership</label>
        <locationX>908</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>RecipientListLength</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DeNulled_Email_Recipient_List_Leadership</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Leadership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recipient_List_Length_Rep</name>
        <label>Recipient List Length - Rep</label>
        <locationX>1238</locationX>
        <locationY>4418</locationY>
        <assignmentItems>
            <assignToReference>RecipientListLength</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DeNulled_Email_Recipient_List_Rep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Rep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Request_Sales_Weight_Assign_Values_Leadership</name>
        <label>Set Sales Weight</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Weight_Reason_Leadership_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Last_Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Last_Requested_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesWeightApproval</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Date_Field_Leadership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Request_Sales_Weight_Assign_Values_Rep</name>
        <label>Request Sales Weight</label>
        <locationX>1238</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Weight_Reason_Rep_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Last_Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Last_Requested_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesWeightApproval</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Date_Field_Rep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Sales_Weight_Leadership</name>
        <label>Reset Sales Weight</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Approval__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Last_Request_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Last_Requested_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Sales_Weight</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Sales_Weight_Rep</name>
        <label>Reset Sales Weight</label>
        <locationX>1194</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Approval__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Last_Request_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Last_Requested_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_Sales_Weight</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Weight_Approval_Assignment</name>
        <label>Sales Weight Approval Assignment</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesWeight_Approve</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesWeightApproval</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesWeightValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesWeight_Approve</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriorityCalculatorLeadershipApprove</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Leadership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Weight_Date_Set</name>
        <label>Sales Weight Date Set</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Sales_Weight_Date_Holder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Sales_Weight_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Who_s_Here</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Weight_Rejection_Assignment</name>
        <label>Sales Weight Rejection Assignment</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Sales_Weight__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesWeightApproval</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesWeightValue</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Leadership</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <choices>
        <name>SalesLeadership</name>
        <choiceText>Sales Leadership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SalesLeadership</stringValue>
        </value>
    </choices>
    <choices>
        <name>SalesRep</name>
        <choiceText>Sales Rep</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SalesRep</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>DeNulled_Email_Recipient_List_Leadership</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>DeNulled Email Recipient List - Leadership</label>
        <locationX>908</locationX>
        <locationY>1706</locationY>
        <assignNextValueToReference>currentItem_DeNulled_Email_Recipient_List_Leadership</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>EmailRecipients</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_DeNulled_Email_Recipient_List_Leadership</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Recipient_List_Length_Leadership</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>DeNulled_Email_Recipient_List_Rep</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>DeNulled Email Recipient List - Rep</label>
        <locationX>1238</locationX>
        <locationY>4310</locationY>
        <assignNextValueToReference>currentItem_DeNulled_Email_Recipient_List_Leadership</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>EmailRecipients</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_DeNulled_Email_Recipient_List_Leadership</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Recipient_List_Length_Rep</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>removes empty records in this collection</description>
        <name>Finalize_User_Notification_List_Leadership</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Finalize User Notification List - Leadership</label>
        <locationX>908</locationX>
        <locationY>1598</locationY>
        <assignNextValueToReference>currentItem_Finalize_User_Notification_List_Leadership_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>NotifyUsersRequest</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Finalize_User_Notification_List_Leadership_0</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>DeNulled_Email_Recipient_List_Leadership</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>removes empty records in this collection</description>
        <name>Finalize_User_Notification_List_Rep</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Finalize User Notification List - Rep</label>
        <locationX>1238</locationX>
        <locationY>4202</locationY>
        <assignNextValueToReference>currentItem_Finalize_User_Notification_List_Rep</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>NotifyUsersRequest</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Finalize_User_Notification_List_Rep</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>DeNulled_Email_Recipient_List_Rep</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Approval_Result</name>
        <label>Approval Result</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_by_Leadership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Decision_Leadership</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Weight_Approval_Assignment</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected_by_Leadership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Decision_Leadership</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Weight_Rejection_Assignment</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <description>If no Opp on Case, add Requester&apos;s Manager as recipient since no Opp = no Opp Owner = no Opp Owner Manager</description>
        <name>Opp_on_Case</name>
        <label>Opp on Case?</label>
        <locationX>1238</locationX>
        <locationY>3794</locationY>
        <defaultConnector>
            <targetReference>Finalize_User_Notification_List_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opp on Case</defaultConnectorLabel>
        <rules>
            <name>No_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Requester_Rep</targetReference>
            </connector>
            <label>No Opp!</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_or_Reset</name>
        <label>Request or Reset</label>
        <locationX>1238</locationX>
        <locationY>2654</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Sales_Weight_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Sales_Weight_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Sales_Weight__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Sales_Weight</targetReference>
            </connector>
            <label>Request</label>
        </rules>
        <rules>
            <name>Reset_Sales_Weight_Path_R</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Sales_Weight_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Sales_Weight__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Sales_Weight_Request_Rep</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Notification_Leadership</name>
        <label>Send Notification? Leadership</label>
        <locationX>908</locationX>
        <locationY>1922</locationY>
        <defaultConnectorLabel>No Recipients</defaultConnectorLabel>
        <rules>
            <name>Notify_Users_Leadership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientListLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Leadership_to_Rep</targetReference>
            </connector>
            <label>Notify Users</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Notification_Rep</name>
        <label>Send Notification? Rep</label>
        <locationX>1238</locationX>
        <locationY>4526</locationY>
        <defaultConnectorLabel>No Recipients</defaultConnectorLabel>
        <rules>
            <name>Notify_Users_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientListLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Rep_to_Leadership</targetReference>
            </connector>
            <label>Notify Users</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Reset_or_Approve</name>
        <label>Set, Reset, or Approve</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Sales_Weight_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Sales_Weight_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Sales_Weight__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sales_Weight</targetReference>
            </connector>
            <label>Set</label>
        </rules>
        <rules>
            <name>Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Sales_Weight_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Weight_Approval_Screen_Leadership</targetReference>
            </connector>
            <label>Approval</label>
        </rules>
        <rules>
            <name>Reset_Sales_Weight_Path</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Sales_Weight_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Sales_Weight__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Sales_Weight_Request_Leadership</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Date_Field_Leadership</name>
        <label>Which Date Field - Leadership</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Opt_Date_Field_Leadership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Quote_Delivery_Date_Required_Leadership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Weight_Reason_Leadership_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Delivery Date Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Req_Date_Field_Leadership</targetReference>
            </connector>
            <label>Quote Delivery Date Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Date_Field_Rep</name>
        <label>Which Date Field - Rep</label>
        <locationX>1238</locationX>
        <locationY>3278</locationY>
        <defaultConnector>
            <targetReference>Assign_Opt_Date_Field_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Quote_Delivery_Date_Required_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Weight_Reason_Rep_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Delivery Date Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Req_Date_Field_Rep</targetReference>
            </connector>
            <label>Quote Delivery Date Required - Rep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Path</name>
        <label>Which Path?</label>
        <locationX>2118</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Rep_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesRep</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_or_Reset</targetReference>
            </connector>
            <label>Sales Rep Path</label>
        </rules>
        <rules>
            <name>Sales_Leadership_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesLeadership</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Reset_or_Approve</targetReference>
            </connector>
            <label>Sales Leadership Path</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_s_Here</name>
        <label>Who&apos;s Here?</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Unavailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Sales_Rep</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Xometry Sales User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Xometry Sales Ops</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_or_Reset</targetReference>
            </connector>
            <label>Sales Rep</label>
        </rules>
        <rules>
            <name>Sales_Leadership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Xometry Sales Leadership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Reset_or_Approve</targetReference>
            </connector>
            <label>Sales Leadership</label>
        </rules>
        <rules>
            <name>Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin_Screen</targetReference>
            </connector>
            <label>Admin</label>
        </rules>
    </decisions>
    <description>Copied from v14
Sales Weight Date modifier removed from formulas that calculate Case Priority. I.e. this can once again update Case Priority, but Sales Weight Date will no longer impact the Priority value set.</description>
    <dynamicChoiceSets>
        <name>SalesWeightReasonPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Weight_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;Case Number: &quot; &amp; {!recordId.CaseNumber} &amp; BR() &amp;
&quot;Case Subject: &quot; &amp; {!recordId.Subject} &amp; BR() &amp;
&quot;Case Contact: &quot; &amp; {!recordId.Contact.FirstName} &amp; &quot; &quot; &amp; {!recordId.Contact.LastName} &amp; BR() &amp;
&quot;Case Account: &quot; &amp; {!recordId.Account.Name} &amp; BR() &amp;
&quot;Case Opportunity: &quot; &amp; {!recordId.Opportunity__r.Name} &amp; BR() &amp;
&quot;Sales Weight Approval Status: &quot; &amp; {!SalesWeightApproval} &amp; BR() &amp;
IF( !ISBLANK( {!SalesWeightValue} ), &quot;Sales Weight: &quot; &amp; {!SalesWeightValue} ,&quot;&quot;) &amp; BR() &amp;
{!RecordLink}</expression>
    </formulas>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;Case Number: &quot; &amp; {!recordId.CaseNumber} &amp; BR() &amp;
&quot;Case Subject: &quot; &amp; {!recordId.Subject} &amp; BR() &amp;
&quot;Case Contact: &quot; &amp; {!recordId.Contact.FirstName} &amp; &quot; &quot; &amp; {!recordId.Contact.LastName} &amp; BR() &amp;
&quot;Case Account: &quot; &amp; {!recordId.Account.Name} &amp; BR() &amp;
&quot;Case Opportunity: &quot; &amp; {!recordId.Opportunity__r.Name} &amp; BR() &amp;
&quot;Sales Weight Approval Status: &quot; &amp; {!SalesWeightApproval} &amp; BR() &amp;
IF( !ISBLANK( {!SalesWeightValue} ), &quot;Sales Weight: &quot; &amp; {!SalesWeightValue} ,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <expression>&quot;Sales Weight Request Update: &quot; &amp; {!SalesWeightApproval}</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>OppOwnerEmailSmart</name>
        <dataType>String</dataType>
        <expression>IF({!$User.Id} != {!recordId.Opportunity__r.OwnerId},{!recordId.Opportunity__r.Owner.Email},null)</expression>
    </formulas>
    <formulas>
        <description>Only grabs the Opp Owner Id if different than current user</description>
        <name>OppOwnerIdSmart</name>
        <dataType>String</dataType>
        <expression>IF({!$User.Id} != {!recordId.Opportunity__r.OwnerId} &amp;&amp; {!recordId.Opportunity__r.Owner.IsActive},{!recordId.Opportunity__r.OwnerId},null)</expression>
    </formulas>
    <formulas>
        <name>OppOwnerManagerEmail</name>
        <dataType>String</dataType>
        <expression>IF(
     !ISBLANK( {!recordId.Opportunity__c}) &amp;&amp;
     !ISBLANK( {!recordId.Opportunity__r.Owner.ManagerId} ) &amp;&amp;
     !ISBLANK( {!recordId.Opportunity__r.Owner.Manager.Email} ),

     {!recordId.Opportunity__r.Owner.Manager.Email} ,
     null
)</expression>
    </formulas>
    <formulas>
        <name>OppOwnerManagerId</name>
        <dataType>String</dataType>
        <expression>IF(
     !ISBLANK( {!recordId.Opportunity__c}) &amp;&amp;
     !ISBLANK( {!recordId.Opportunity__r.Owner.ManagerId} ),

     {!recordId.Opportunity__r.Owner.ManagerId} ,
     null
)</expression>
    </formulas>
    <formulas>
        <description>Copied from v14
Sales Weight Date modifier removed from formula</description>
        <name>PriorityCalculatorLeadershipApprove</name>
        <dataType>String</dataType>
        <expression>IF(
     ({!SalesWeight_Approve} &gt;= 2) &amp;&amp; (!ISPICKVAL({!recordId.Priority},&quot;VIP&quot;)),
     &quot;Urgent&quot;,

     IF(
          ({!SalesWeight_Approve} = 1) &amp;&amp; (!ISPICKVAL({!recordId.Priority},&quot;VIP&quot;)) &amp;&amp; (!ISPICKVAL({!recordId.Priority},&quot;Urgent&quot;)),
          &quot;High&quot;,
          TEXT({!recordId.Priority})
     )
)</expression>
    </formulas>
    <formulas>
        <description>Copied from v14
Sales Weight Date modifier removed from formula</description>
        <name>PriorityCalculatorLeadershipSetOpt</name>
        <dataType>String</dataType>
        <expression>IF(
     (({!SalesWeight_Set_Leadership_Opt} &gt;= 2)) &amp;&amp; (!ISPICKVAL({!recordId.Priority},&quot;VIP&quot;)),
     &quot;Urgent&quot;,

     IF(
          ({!SalesWeight_Set_Leadership_Opt} = 1) &amp;&amp; (!ISPICKVAL({!recordId.Priority},&quot;VIP&quot;) &amp;&amp; !ISPICKVAL({!recordId.Priority},&quot;Urgent&quot;)),
          &quot;High&quot;,
          TEXT({!recordId.Priority})
     )
)</expression>
    </formulas>
    <formulas>
        <description>Copied from v14
Sales Weight Date modifier removed from formula</description>
        <name>PriorityCalculatorLeadershipSetReq</name>
        <dataType>String</dataType>
        <expression>IF(
     (({!SalesWeight_Set_Leadership_Req} &gt;= 2)) &amp;&amp; (!ISPICKVAL({!recordId.Priority},&quot;VIP&quot;)),
     &quot;Urgent&quot;,

     IF(
          ({!SalesWeight_Set_Leadership_Req} = 1) &amp;&amp; (!ISPICKVAL({!recordId.Priority},&quot;VIP&quot;) &amp;&amp; !ISPICKVAL({!recordId.Priority},&quot;Urgent&quot;)),
          &quot;High&quot;,
          TEXT({!recordId.Priority})
     )
)</expression>
    </formulas>
    <formulas>
        <description>If Sales Weight Date is &lt;= _ days, the Sales Weight calculation will increase the Sales Weight Value</description>
        <name>PriorityDateWindow</name>
        <dataType>Number</dataType>
        <expression>{!GetDateThreshold.Number_Ref_Value__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RecordLink</name>
        <dataType>String</dataType>
        <expression>&quot;https://xometry5836.lightning.force.com/&quot; &amp; {!recordId.Id}</expression>
    </formulas>
    <formulas>
        <name>RequesterManagerEmailSmart</name>
        <dataType>String</dataType>
        <expression>IF( !ISBLANK({!recordId.Opportunity__c}), null,
     IF( !ISBLANK({!Get_Requester_Rep.ManagerId}), {!Get_Requester_Rep.Manager.Email}, null)
)</expression>
    </formulas>
    <formulas>
        <name>RequesterManagerIdSmart</name>
        <dataType>String</dataType>
        <expression>IF( !ISBLANK({!recordId.Opportunity__c}), null,
     IF( !ISBLANK({!$User.ManagerId}), {!$User.ManagerId}, null)
)</expression>
    </formulas>
    <formulas>
        <description>Setting Sales Weight from Approval path, where values are in the record already</description>
        <name>SalesWeight_Approve</name>
        <dataType>Number</dataType>
        <expression>IF(ISPICKVAL({!recordId.Sales_Weight_Reason__c},&quot;PO is in Hand&quot;),
     3,
     IF(ISPICKVAL({!recordId.Sales_Weight_Reason__c},&quot;PO is Pending Quote&quot;),
          2,
          1)
)</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <description>Setting Sales Weight from Leadership path, where values are in screen flow inputs</description>
        <name>SalesWeight_Set_Leadership_Opt</name>
        <dataType>Number</dataType>
        <expression>IF({!Sales_Weight_Reason_Leadership_Input} = &quot;PO is in Hand&quot;,
     3,
     IF({!Sales_Weight_Reason_Leadership_Input} = &quot;PO is Pending Quote&quot;,
          2,
          1)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Setting Sales Weight from Leadership path, where values are in screen flow inputs</description>
        <name>SalesWeight_Set_Leadership_Req</name>
        <dataType>Number</dataType>
        <expression>IF({!Sales_Weight_Reason_Leadership_Input} = &quot;PO is in Hand&quot;,
     3,
     IF({!Sales_Weight_Reason_Leadership_Input} = &quot;PO is Pending Quote&quot;,
          2,
          1)
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Sales Weight {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Weight</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the SalesWeight_Case custom notification ID for later</description>
        <name>CustomNotificationId</name>
        <label>CustomNotificationId</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDateThreshold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Weight - Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Leadership path version of Get Requester</description>
        <name>Get_Requester_Leadership</name>
        <label>Get Requester - Leadership</label>
        <locationX>908</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Recipients_Leadership_to_Rep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Full_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Full_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Sales_Weight_Last_Requested_By__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Rep path version of Get Requester</description>
        <name>Get_Requester_Rep</name>
        <label>Get Requester - Rep</label>
        <locationX>1106</locationX>
        <locationY>3902</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Recipients_Requester_to_Leadership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDateThreshold</name>
        <label>GetDateThreshold</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_Weight_Date_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SalesWeightDate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admin_Ref_Variable__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Leadership</name>
        <label>Update Case Leadership</label>
        <locationX>908</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Get_Requester_Leadership</targetReference>
        </connector>
        <inputReference>VarCaseToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseRep</name>
        <label>Update Case Rep</label>
        <locationX>1238</locationX>
        <locationY>3578</locationY>
        <connector>
            <targetReference>Add_Recipients_Rep_to_Leadership</targetReference>
        </connector>
        <inputReference>VarCaseToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Admin_Screen</name>
        <label>Admin Screen</label>
        <locationX>2118</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Path</targetReference>
        </connector>
        <fields>
            <name>Path</name>
            <choiceReferences>SalesRep</choiceReferences>
            <choiceReferences>SalesLeadership</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Hello, Admin! Which path would you like to take?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Sales_Weight</name>
        <label>Request Sales Weight</label>
        <locationX>1238</locationX>
        <locationY>3062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Request_Sales_Weight_Assign_Values_Rep</targetReference>
        </connector>
        <fields>
            <name>SalesWeightInputDescription_Rep</name>
            <fieldText>&lt;p&gt;Please provide the following inputs to request Sales Weight for this Case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_Weight_Reason_Rep_Input</name>
            <choiceReferences>SalesWeightReasonPicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sales Weight Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sales_Weight_Date_Input_Rep_Req</name>
            <dataType>Date</dataType>
            <fieldText>Date Needed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Sales_Weight_Reason_Rep_Input</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Quote Delivery Date Required</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sales_Weight_Date_Input_Rep_Opt</name>
            <dataType>Date</dataType>
            <fieldText>Date Needed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sales_Weight_Reason_Rep_Input</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Quote Delivery Date Required</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Sales_Weight_Reason_Rep_Input</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reset_Sales_Weight_Request_Leadership</name>
        <label>Reset Sales Weight Request</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_Sales_Weight_Leadership</targetReference>
        </connector>
        <fields>
            <name>ResetDescription_Leadership</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;This Case has already had Sales Weight Requested.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Here is the current status of that request:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Weight Reason&lt;/strong&gt;: {!recordId.Sales_Weight_Reason__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Weight Date&lt;/strong&gt; (if applicable): {!recordId.Sales_Weight_Date__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Weight Approval Status&lt;/strong&gt;: {!recordId.Sales_Weight_Approval__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Weight&lt;/strong&gt; (blank, or 1-3): {!recordId.Sales_Weight__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Last Requested&lt;/strong&gt;: {!recordId.Sales_Weight_Last_Request_Date__c} &lt;strong&gt;by&lt;/strong&gt; {!recordId.Sales_Weight_Last_Requested_By__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;By proceeding, you will be removing this request and starting over.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Remove Previous Sales Weight and Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reset_Sales_Weight_Request_Rep</name>
        <label>Reset Sales Weight Request</label>
        <locationX>1194</locationX>
        <locationY>2762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_Sales_Weight_Rep</targetReference>
        </connector>
        <fields>
            <name>ResetDescription_Rep</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;This Case has already had Sales Weight Requested.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Here is the current status of that request:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Weight Reason&lt;/strong&gt;: {!recordId.Sales_Weight_Reason__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Weight Date&lt;/strong&gt; (if applicable): {!recordId.Sales_Weight_Date__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Weight Approval Status&lt;/strong&gt;: {!recordId.Sales_Weight_Approval__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Weight&lt;/strong&gt; (blank, or 1-3): {!recordId.Sales_Weight__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Last Requested&lt;/strong&gt;: {!recordId.Sales_Weight_Last_Request_Date__c} &lt;strong&gt;by&lt;/strong&gt; {!recordId.Sales_Weight_Last_Requested_By__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;By proceeding, you will be removing this request and starting over.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Remove Previous Sales Weight and Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sales_Weight_Approval_Screen_Leadership</name>
        <label>Sales Weight Approval</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Approval_Result</targetReference>
        </connector>
        <fields>
            <name>Sales_Weight_Approval_Leadership_Description</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;This Case is awaiting Sales Weight Approval.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Here is the current status of that request:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Weight Reason&lt;/strong&gt;: {!recordId.Sales_Weight_Reason__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Weight Date&lt;/strong&gt; (if applicable): {!recordId.Sales_Weight_Date__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Weight Approval Status&lt;/strong&gt;: {!recordId.Sales_Weight_Approval__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Last Requested&lt;/strong&gt;: {!recordId.Sales_Weight_Last_Request_Date__c} &lt;strong&gt;by&lt;/strong&gt; {!recordId.Sales_Weight_Last_Requested_By__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approval_Decision_Leadership</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you approve this Case receiving Sales Weight?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Sales_Weight</name>
        <label>Set Sales Weight</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Request_Sales_Weight_Assign_Values_Leadership</targetReference>
        </connector>
        <fields>
            <name>SalesWeightInputDescription_Leadership</name>
            <fieldText>&lt;p&gt;As Leadership, you are setting the following values. The Sales Weight will be per the calculation and marked as Approved.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_Weight_Reason_Leadership_Input</name>
            <choiceReferences>SalesWeightReasonPicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sales Weight Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sales_Weight_Date_Input_Leadership_Req</name>
            <dataType>Date</dataType>
            <fieldText>Date Needed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Sales_Weight_Reason_Leadership_Input</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Quote Delivery Date Required</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sales_Weight_Date_Input_Leadership_Opt</name>
            <dataType>Date</dataType>
            <fieldText>Date Needed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sales_Weight_Reason_Leadership_Input</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Quote Delivery Date Required</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Sales_Weight_Reason_Leadership_Input</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unavailable</name>
        <label>Unavailable</label>
        <locationX>2602</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UnavailableNotice</name>
            <fieldText>&lt;p&gt;Based on your profile, you do not have access to Sales Weight.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CustomNotificationId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_DeNulled_Email_Recipient_List_Leadership</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Finalize_User_Notification_List_Leadership_0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Finalize_User_Notification_List_Rep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotifyUsersRequest</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientListLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Sales_Weight_Date_Holder</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesWeightApproval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesWeightValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
