unpackaged/main/default/flows/ScheduleDaily_UpdateIsFrozenFlagonUserObject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddRecordToUpdate</name>
        <label>AddRecordToUpdate</label>
        <locationX>264</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>updateUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddUserId2</name>
        <label>AddUserId</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>userIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddUserId.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddUserId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignIsFrozenUser</name>
        <label>AssignIsFrozenUser</label>
        <locationX>264</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>LoopThroughUser.IsFrozen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddRecordToUpdate</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ScheduleDaily_UpdateIsFrozenFlagonUserObject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScheduleDaily_UpdateIsFrozenFlagonUserObject</label>
    <loops>
        <name>AddUserId</name>
        <label>AddUserId</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>GetFrozenUserList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddUserId2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetFrozenUser</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughUser</name>
        <label>LoopThroughUser</label>
        <locationX>176</locationX>
        <locationY>876</locationY>
        <collectionReference>GetFrozenUser</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignIsFrozenUser</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateUserIsFrozenFlag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetFrozenUser</name>
        <label>GetFrozenUser</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>userIdCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFrozenUserList</name>
        <label>GetFrozenUserList</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddUserId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsFrozen</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserLogin</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAllIsFrozenFlagToFalse</name>
        <label>UpdateAllIsFrozenFlagToFalse</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>GetFrozenUserList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsFrozen__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsFrozen__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateUserIsFrozenFlag</name>
        <label>UpdateUserIsFrozenFlag</label>
        <locationX>176</locationX>
        <locationY>1284</locationY>
        <inputReference>updateUsers</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateAllIsFrozenFlagToFalse</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-08-17</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>updateUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>userIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
