unpackaged/main/default/flows/Screen_Flow_TSE_Engagement_Form_on_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Case_to_Queue</name>
        <label>Assign Case to Queue</label>
        <locationX>666</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>varCaseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TSE_Queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CaseOwnerId</name>
        <label>Assign CaseOwnerId</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>varCaseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC1UserLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Team</name>
        <label>Assign Project Team</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>varProjectTeam.Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC1UserLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProjectTeam.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProjectTeam.Team_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Technical Sales Engineer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_TSE_Already_on_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TSE</name>
        <label>Assign TSE</label>
        <locationX>226</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varTSEId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project_TSE.Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC1Technical_Sales_Engineer_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TSE2</name>
        <label>Assign TSE</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varTSEId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_TSE.Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC1Technical_Sales_Engineer_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TSE_Engagement_Case</name>
        <label>Assign TSE Engagement Case</label>
        <locationX>358</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>varNewTSECase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTSECaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTSECase.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC2Quote_to_Be_Discussed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTSECase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTSECase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTSECase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTSECase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Screenflow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTSECase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTSECase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTSECase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FRMCaseDescriptionText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTSECase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTSECase.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTSECase.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC2_Existing_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Budgetary</name>
        <choiceText>Budgetary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Budgetary</stringValue>
        </value>
    </choices>
    <choices>
        <name>DFM_Review</name>
        <choiceText>DFM Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DFM Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Discovery_Call</name>
        <choiceText>Discovery Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Discovery Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Engineering_Webinar</name>
        <choiceText>Engineering Webinar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Engineering Webinar</stringValue>
        </value>
    </choices>
    <choices>
        <name>Legacy</name>
        <choiceText>Legacy(Service Parts)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legacy(Service Parts)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Production</name>
        <choiceText>Production</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Production</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prototype</name>
        <choiceText>Prototype</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prototype</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quote_Review</name>
        <choiceText>Quote Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quote Review</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Duplicate_TSE_PT_Found</name>
        <label>Duplicate TSE PT Found?</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Create_Project_Team_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Duplicate_TSE_PT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TSE_Already_on_Project.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_Account_TSE</name>
        <label>Is there an Account TSE</label>
        <locationX>358</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Get_TSE_Queue_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC1UserLookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CaseOwnerId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_TSE_Found</name>
        <label>Project TSE Found?</label>
        <locationX>358</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Account_TSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ProjectTSEwasFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_TSE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TSE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Test with new project team tse logic</description>
    <dynamicChoiceSets>
        <name>ChoiceExistingCase</name>
        <collectionReference>Get_Related_Open_Cases</collectionReference>
        <dataType>String</dataType>
        <displayField>CaseNumber</displayField>
        <object>Case</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceVerticalMarkets</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Vertical_Markets__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordChoiceProjectOpportunities</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FRMCaseDescriptionText</name>
        <dataType>String</dataType>
        <expression>&quot;Internal Capabilities: &quot;&amp;{!SC2Internal_Capabilities}&amp;BR()&amp;
&quot;Stage of Project: &quot;&amp;{!SC2Stage_of_Project}&amp;BR()&amp;
&quot;Call objective: &quot;&amp;{!SC2Call_Objective}&amp;BR()&amp;
&quot;Has the customer prototyped these parts before?: &quot;&amp;if({!SC2PrototypeToggle.value},&quot;TRUE&quot;,&quot;FALSE&quot;)&amp;BR()&amp;
&quot;Has the customer produced with this process before?: &quot;&amp;if({!SC2ProducedToggle.value},&quot;TRUE&quot;,&quot;FALSE&quot;)&amp;BR()&amp;
&quot;Long Term MFG Plan(Production Plan, EAU, Storage Plan): &quot;&amp;{!SC2Long_Term_MFG_Plan_How_Many_When_Who_Stores}&amp;BR()&amp;
&quot;Key questions the TSE will Answer: &quot;&amp;{!S3TKey_Questions_the_TSE_will_Answer}&amp;BR()&amp;
&quot;Key question the TSE will Ask: &quot;&amp;{!S3TKey_Question_the_TSE_will_Ask}&amp;BR()&amp;
&quot;Other objections OR current Operational Concerns that the TSE needs to address?: &quot;&amp;{!S3TOther_Objections_OR_current_Operational_Concerns}&amp;BR()&amp;
&quot;Next Steps and Notes: &quot;&amp;{!S3TNext_Steps_and_Notes}</expression>
    </formulas>
    <formulas>
        <name>FRMProjectTextLink</name>
        <dataType>String</dataType>
        <expression>&quot;xometry5836.lightning.force.com/&quot;&amp;{!Get_Project.Id}</expression>
    </formulas>
    <formulas>
        <name>NewTSECaseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[TSE Engagement Form] &quot;&amp;{!Get_Project.AccountId__r.Name}</expression>
    </formulas>
    <interviewLabel>Screen Flow: TSE Engagement Form on Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: TSE Engagement Form on Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>358</locationX>
        <locationY>2486</locationY>
        <inputReference>varNewTSECase</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Team_Record</name>
        <label>Create Project Team Record</label>
        <locationX>138</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Get_Case_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Case_Record_Type</targetReference>
        </faultConnector>
        <inputReference>varProjectTeam</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_TSE</name>
        <label>Get Account TSE</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_TSE2</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.AccountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Sales Engineer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.AccountId__r.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type</name>
        <label>Get Case Record Type</label>
        <locationX>358</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_TSE_Engagement_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PSE Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_TSE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_TSE</name>
        <label>Get Project TSE</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Open_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Sales Engineer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Open_Cases</name>
        <label>Get Related Open Cases</label>
        <locationX>358</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_TSE_Found</targetReference>
        </connector>
        <filterLogic>(1 and 3) or (2 and 4)</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordChoiceProjectOpportunities</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TSE_Already_on_Project</name>
        <label>Get TSE Already on Project</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_TSE_PT_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectTeam.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectTeam.Team_Member__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectTeam.Team_Role__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TSE_Queue_Id</name>
        <label>Get TSE Queue  Id</label>
        <locationX>666</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_to_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Sales Engineer Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SC1Technical_Sales_Engineer_Request</name>
        <label>Technical Sales Engineer Request</label>
        <locationX>358</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC2Technical_Sales_Engineer_Company_Info</targetReference>
        </connector>
        <fields>
            <name>SC1Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Xometry TSE Engagement Preparation Template&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SC1AccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Project.AccountId__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SC1ContactLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attendees</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Project.Primary_Contact__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SC1UserLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Team_Member__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>TSE Attendee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account_Team__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varTSEId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SC2Technical_Sales_Engineer_Company_Info</name>
        <label>Technical Sales Engineer Company Info</label>
        <locationX>358</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC3Technical_Sales_Engineer_Call_Info</targetReference>
        </connector>
        <fields>
            <name>SC2Technical_Sales_Engineer_Company_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC2Technical_Sales_Engineer_Company_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC2Header</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Company Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SC2Quote_to_Be_Discussed</name>
                    <choiceReferences>RecordChoiceProjectOpportunities</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Quote to Be Discussed</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SC2_Existing_Case</name>
                    <choiceReferences>ChoiceExistingCase</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Existing Case</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SC2Internal_Capabilities</name>
                    <dataType>String</dataType>
                    <fieldText>Internal Capabilities</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SC2Stage_of_Project</name>
                    <choiceReferences>Budgetary</choiceReferences>
                    <choiceReferences>Prototype</choiceReferences>
                    <choiceReferences>Production</choiceReferences>
                    <choiceReferences>Legacy</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Stage of Project</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SC2Technical_Sales_Engineer_Company_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC2ProjectInformation</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Project Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SC2Call_Objective</name>
                    <choiceReferences>Discovery_Call</choiceReferences>
                    <choiceReferences>Quote_Review</choiceReferences>
                    <choiceReferences>DFM_Review</choiceReferences>
                    <choiceReferences>Engineering_Webinar</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Call Objective</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SC2PrototypeToggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>YES</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>NO</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Has the customer prototyped these parts before?</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SC2ProducedToggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Has these parts been produced with this process before?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>YES</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>NO</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Sc2HasPrototype</name>
                    <dataType>String</dataType>
                    <fieldText>Has the customer prototyped these parts before?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SC2History_of_Making_Similar_Parts</name>
                    <dataType>String</dataType>
                    <fieldText>Have these parts been produced in this process before?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SC2Long_Term_MFG_Plan_How_Many_When_Who_Stores</name>
                    <dataType>String</dataType>
                    <fieldText>Long Term MFG Plan(Production Plan, EAU, Storage Plan)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SC3Technical_Sales_Engineer_Call_Info</name>
        <label>Technical Sales Engineer Call Info</label>
        <locationX>358</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_there_an_Account_TSE</targetReference>
        </connector>
        <fields>
            <name>SC3Sales_is_the_Champion_for_the_Meeting</name>
            <fieldText>Sales is the Champion for the Meeting</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC3Sales_is_the_Champion_for_the_Meeting_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>S3TKey_Questions_the_TSE_will_Answer</name>
                    <dataType>String</dataType>
                    <fieldText>Key Questions the TSE will Answer:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>S3TKey_Question_the_TSE_will_Ask</name>
                    <dataType>String</dataType>
                    <fieldText>Key Question the TSE will Ask:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SC3Sales_is_the_Champion_for_the_Meeting_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>S3TOther_Objections_OR_current_Operational_Concerns</name>
                    <dataType>String</dataType>
                    <fieldText>Other Objections OR current Operational Concerns that the TSE needs to Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>S3TNext_Steps_and_Notes</name>
                    <dataType>String</dataType>
                    <fieldText>Next Steps and Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectLinkText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FRMProjectTextLink</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewTSECase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varOtherConcernsDefaultText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Quality, Partner Network, Ability to Execute to Print, ETC</stringValue>
        </value>
    </variables>
    <variables>
        <name>varProjectTeam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team__c</objectType>
    </variables>
    <variables>
        <name>varTSEId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
