unpackaged/main/default/flows/Send_ZD_Bridge_Cases_to_Omni.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>CaseOwnerMatch</name>
        <label>CaseOwnerMatch?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matches</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Xom_Team_ID.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_CPC_System_User_Group.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_case_to_Omni_Channel_Flow</targetReference>
            </connector>
            <label>Matches</label>
        </rules>
    </decisions>
    <description>Delete the Junk detection branch (Zendesk Related).</description>
    <environments>Default</environments>
    <interviewLabel>Send ZD Bridge Cases to Omni {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send ZD Bridge Cases to Omni</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CPC_System_User_Group</name>
        <label>Get CPC System User Group</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseOwnerMatch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPC_System_Only</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Xom_Team_ID</name>
        <label>Get Xom Team ID</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDoNotUseID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>xomteam</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDoNotUseID</name>
        <label>GetDoNotUseID</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CPC_System_User_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>cpcHouse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Xom_Team_ID</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Outbound_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GeneralSupportCase</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intercom</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_case_to_Omni_Channel_Flow</name>
        <label>Send case to Omni-Channel Flow</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <flowName>CPC_Case_Omni_Routing_Flow</flowName>
        <inputAssignments>
            <name>input_record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>500</triggerOrder>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>CPCSupportQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
