unpackaged/main/default/flows/Supplier_Onboarding_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Copy_1_of_HasParentCase</name>
        <label>HasParentCase</label>
        <locationX>886</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasOnboardingCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_to_Onboarding_Call_0_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_HasParentCase</name>
        <label>HasParentCase</label>
        <locationX>1414</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasOnboardingCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_to_Failed</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_HasParentCase</name>
        <label>HasParentCase</label>
        <locationX>1942</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasOnboardingCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Verify_Certs_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasParentCase</name>
        <label>HasParentCase</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>SupplyFlex_Task_for_New_Suppliers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasOnboardingCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_to_Approved</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Approved</name>
        <label>Is Approved</label>
        <locationX>2734</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Get_Onboarding_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SupplierStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>approved</stringValue>
                </rightValue>
            </conditions>
            <label>Approved?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Materials_Sent</name>
        <label>Materials Sent</label>
        <locationX>1150</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Test_Part_Pass_Fail_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Materials_Sent_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MaterialsSent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SupplierStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>registered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Send_Test_Part_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the requested test part needs a case.</description>
        <name>Send_Test_Part_Case_0</name>
        <label>Send Test Part Case</label>
        <locationX>3130</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EZ_Pass_Qualified_0</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND (5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClaimsAS9100__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClaimsISO13485__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClaimsISO9001__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EmployeeCount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TestPartProcess__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CNC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TestPartProcess__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sheet Metal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TestPartProcess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Swiss Lathe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Verify_Certs_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>EZ Pass Qualified</label>
        </rules>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TestPartProcess__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CNC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TestPartProcess__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sheet Metal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TestPartProcess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Swiss Lathe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_TP_Case_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Certs_Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TestPartRequired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_TP_Case_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Certs Not Valid</label>
        </rules>
        <rules>
            <name>Review_Information_0</name>
            <conditionLogic>NOT(1) AND NOT(2) AND NOT(3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TestPartProcess__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CNC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TestPartProcess__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sheet Metal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TestPartProcess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Swiss Lathe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TestPartProcess__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Review_Information_Case_0</targetReference>
            </connector>
            <label>Review Information</label>
        </rules>
    </decisions>
    <decisions>
        <name>Supplier_Approved</name>
        <label>Supplier Approved</label>
        <locationX>666</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Materials_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DateApproved__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OnboardingParentCase__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HasParentCase</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Part_Pass_Fail_0</name>
        <label>Test Part Pass/Fail</label>
        <locationX>1810</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Is_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pass_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TestPartStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Passed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_HasParentCase</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pass</label>
        </rules>
        <rules>
            <name>Fail_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TestPartStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Supplier_Data_on_Fail_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Fail</label>
        </rules>
        <rules>
            <name>EZ_Pass_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StaffVerifiedCertificates__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Test_Status_to_EZ</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>EZ-Pass</label>
        </rules>
    </decisions>
    <description>Swiss Lathe added to EZ-pass workflow for Verify Certs Cases</description>
    <environments>Default</environments>
    <formulas>
        <name>HasOnboardingCase</name>
        <dataType>Boolean</dataType>
        <expression>ISNULL({!$Record.OnboardingParentCase__c})</expression>
    </formulas>
    <formulas>
        <name>OnboardingAttemptsformula</name>
        <dataType>Number</dataType>
        <expression>{!$Record.OnboardingAttempts__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Supplier Onboarding Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Supplier Onboarding Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates the Review Information case</description>
        <name>Create_Review_Information_Case_0</name>
        <label>Create Review Information Case</label>
        <locationX>3394</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m6A0000005YWdQAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OnboardingStatus__c</field>
            <value>
                <stringValue>Review Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.OnboardingParentCase__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SupplierOnboardingRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Review Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SO - Review Information</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates the Test Part case</description>
        <name>Create_TP_Case_0</name>
        <label>Create TP Case</label>
        <locationX>2866</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m6A0000005YWdQAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OnboardingStatus__c</field>
            <value>
                <stringValue>Test Part Preparation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.OnboardingParentCase__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SupplierOnboardingRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send Test Part</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SO - Send Test Part</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates the Test Part case</description>
        <name>Create_TP_Case_0_0</name>
        <label>Create TP Case</label>
        <locationX>3130</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Close_Verify_Certs_Review_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m6A0000005YWdQAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OnboardingStatus__c</field>
            <value>
                <stringValue>Test Part Preparation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.OnboardingParentCase__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SupplierOnboardingRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send Test Part</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SO - Send Test Part</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates the Verify Certs case</description>
        <name>Create_Verify_Certs_0</name>
        <label>Create Verify Certs</label>
        <locationX>2602</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m6A0000005YWdQAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OnboardingStatus__c</field>
            <value>
                <stringValue>Review Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.OnboardingParentCase__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SupplierOnboardingRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Verify Certifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SO - Verify Certs</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Onboarding_Record_Type</name>
        <label>Get Onboarding Record Type</label>
        <locationX>3130</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Test_Part_Case_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier_Onboarding</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SupplierOnboardingRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Close_Child_Cases</name>
        <label>Close Child Cases</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>SupplyFlex_Task_for_New_Suppliers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OnboardingParentCase__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OnboardingStatus__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Solved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Child_Cases_Fail</name>
        <label>Close Child Cases Fail</label>
        <locationX>1282</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OnboardingParentCase__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OnboardingStatus__c</field>
            <value>
                <stringValue>Failed Test Part</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Send_Test_Part_Case</name>
        <label>Close Send Test Part Case</label>
        <locationX>490</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send Test Part</stringValue>
            </value>
        </filters>
        <filters>
            <field>Supplier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Verify_Certs_0</name>
        <label>Close Verify Certs</label>
        <locationX>1810</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_Parent_to_Onboarding_Call_EZ_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OnboardingParentCase__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verify Certifications</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Verify_Certs_Review_Info</name>
        <label>Close Verify Certs/Review Info</label>
        <locationX>3130</locationX>
        <locationY>1175</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OnboardingParentCase__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SO - Review Information</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SO - Verify Certs</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OnboardingStatus__c</field>
            <value>
                <stringValue>Test Part Preparation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_to_Approved</name>
        <label>Update Parent to Approved</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Close_Child_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OnboardingParentCase__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OnboardingStatus__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_to_Failed</name>
        <label>Update Parent to Failed</label>
        <locationX>1282</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Close_Child_Cases_Fail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OnboardingParentCase__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OnboardingStatus__c</field>
            <value>
                <stringValue>Failed Test Part</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pass_Fail__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Solved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_to_Onboarding_Call_0_0</name>
        <label>Update Parent to Onboarding Call</label>
        <locationX>754</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OnboardingParentCase__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OnboardingStatus__c</field>
            <value>
                <stringValue>Onboarding call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_to_Onboarding_Call_EZ_0</name>
        <label>Update Parent to Onboarding Call EZ</label>
        <locationX>1810</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OnboardingParentCase__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OnboardingStatus__c</field>
            <value>
                <stringValue>Onboarding call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Supplier_Data_on_Fail_0</name>
        <label>Update Supplier Data on Fail</label>
        <locationX>1414</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Copy_2_of_HasParentCase</targetReference>
        </connector>
        <inputAssignments>
            <field>MaterialsSent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OnboardingAttempts__c</field>
            <value>
                <elementReference>OnboardingAttemptsformula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PackingListFileName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>TestPartMaterial__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>TestPartProcess__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Test_Status_to_EZ</name>
        <label>Update Test Status to EZ</label>
        <locationX>1942</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Copy_3_of_HasParentCase</targetReference>
        </connector>
        <inputAssignments>
            <field>TestPartStatus__c</field>
            <value>
                <stringValue>EZ-Pass</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Supplier_Approved</targetReference>
        </connector>
        <filterLogic>(1) OR ((2 OR 3) OR (9 OR 10)) OR (4 AND 5) OR (5 AND 6 AND 7) OR (8) OR (11 AND 12)</filterLogic>
        <filters>
            <field>SupplierStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>TestPartProcess__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TestPartMaterial__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MaterialsSent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SupplierStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>TestPartStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outstanding</stringValue>
            </value>
        </filters>
        <filters>
            <field>ReceiveTestByDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TestPartRequired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TestPartProcess__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TestPartMaterial__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StaffVerifiedCertificates__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StaffVerifiedCertificates__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Supplier__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SupplyFlex_Task_for_New_Suppliers</name>
        <label>SupplyFlex Task for New Suppliers</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <flowName>CreateTaskforSupplyFlexWarmHandoff</flowName>
        <inputAssignments>
            <name>SupplierContactID</name>
            <value>
                <elementReference>$Record.ContactID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SupplierID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>SupplierOnboardingRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
