unpackaged/main/default/flows/Supplier_Onboarding_Parent_Case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>Scooping out supplier</description>
    <interviewLabel>Supplier Onboarding Parent Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Supplier Onboarding Parent Case Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates the Parent case for the supplier onboarding flow</description>
        <name>Create_Onboarding_Parent_Case</name>
        <label>Create Onboarding Parent Case</label>
        <locationX>176</locationX>
        <locationY>513</locationY>
        <connector>
            <targetReference>Update_Supplier_With_Parent_Case_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Retrieve_Onboarding_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Supplier Onboarding Parent Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Supplier Onboarding</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Retrieve_Onboarding_Record_Type_Id</name>
        <label>Retrieve Onboarding Record Type Id</label>
        <locationX>177</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Onboarding_Parent_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier_Onboarding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Supplier_With_Parent_Case_Id</name>
        <label>Update Supplier With Parent Case Id</label>
        <locationX>176</locationX>
        <locationY>663</locationY>
        <inputAssignments>
            <field>OnboardingParentCase__c</field>
            <value>
                <elementReference>Create_Onboarding_Parent_Case</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Retrieve_Onboarding_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SupplierStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>DateApproved__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SupplierStatusLastUpdated__c</field>
            <operator>GreaterThan</operator>
            <value>
                <dateValue>2021-05-01</dateValue>
            </value>
        </filters>
        <object>Supplier__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
