unpackaged/main/default/flows/Supplier_Frozen_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Frozen_Notification_Email</name>
        <label>Send Frozen Notification Email</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Supplier__c.SupplierFrozenNotification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Supplier__c.SupplierFrozenNotification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>IsFrozen</name>
        <label>IsFrozen</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsFrozen1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SupplierStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>frozen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Frozen_Notification_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IsFrozen</label>
        </rules>
    </decisions>
    <description>WIP</description>
    <environments>Default</environments>
    <interviewLabel>Supplier Frozen Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Supplier Frozen Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsFrozen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SupplierStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>frozen</stringValue>
            </value>
        </filters>
        <object>Supplier__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>hongda.zhou@xometry.com</stringValue>
        </value>
    </variables>
</Flow>
